[2019-03-29 12:09] anargyri commented on #689
I think putting the .py training scripts in the same directory as the notebooks does not look nice and may confuse the reader. I would prefer it as it is now, or maybe have a directory for SVD_hyperdrive, one for wide_and_deep_hyperdrive etc.

There are not any common tuning utils currently.

[2019-03-29 20:05] gramhagen opened #696 "[BUG] SAR Predict Error"
### Description
SAR predict method does not work

[code]

### In which platform does it happen?
all

### How do we replicate the issue?
[code]

### Expected behavior (i.e. solution)
generates predictions for each row in test

### Other Comments

[2019-03-29 21:11] roalexan opened #698 "[BUG] Error running GPU smoke tests on Windows DSVM"
### Description
Running GPU unit tests as described here as follows: pytest tests/smoke -m "smoke and not spark and gpu". Getting error: 4 failed, 4 passed, 15 deselected, 139 warnings. Please see attached file of full stacktrace here for details.
[stacktrace-gpu-smoketests-windowsdsvm.txt](https://github.com/Microsoft/Recommenders/files/3024569/stacktrace-gpu-smoketests-windowsdsvm.txt)

### In w

[2019-03-30 11:07] gramhagen commented on #696
fixed in #697

[2019-03-30 11:07] #696 closed

[2019-03-30 20:55] loomlike commented on #698
@roalexan Can you check this thread and see if this helps? https://github.com/tensorflow/tensorflow/issues/11812

Run the code again.. This time it should work.

[2019-04-01 14:29] roalexan commented on #698
I actually started up the VM this morning - but problem persists. Let's take a closer look.

[2019-04-01 15:27] roalexan commented on #698
BTW, I switched to use a repo_gpu environment, then the tests passed. Just for kicks, I switched back to the repo_full environment, and it failed again, but with a different error. So, a little hard to understand the delta between these test runs and environments.

[2019-04-01 17:25] loomlike opened #701 "[Feature] pytest temp directory"
#### Description
Benefit of using pytest fixture `tmp_path` is that pytest handles temp directory creation and cleanup for us. E.g., `tempfile.TemporaryDirectory` may fail to cleanup the directory if the files are being used. On the other hand, pytest's tmpdir module will revisit the existing temp directories next time we run tests and cleanup.

One drawback of using pytest's tmpdir is, it keeps t

[2019-04-01 20:23] loomlike commented on #698
So the failure is happening only from `reco_full` right?

[2019-04-01 21:06] loomlike commented on #689
@anargyri what about put under a child folder (e.g. `scripts`) of the notebooks then? like
`../notebooks/04_model_select_and_optimize/scripts/` ?

[2019-04-01 21:11] loomlike commented on #695
azureml_hyperdrive_wide_and_deep notebook does**n't** use any azureml contrib modules.

[2019-04-01 21:41] jingyanwangms commented on #695
papermill PR in progress is using azureml.contrib.notebook. If it's not desired in the yaml file, I can install this package only inside the notebook. Will this work?

[2019-04-01 22:17] jreynolds01 opened #702 "[BUG] databricks_install.py fails with ModuleNotFound Error"
### Description
python scripts/databricks_install.py
*** CWD: /mnt/c/Users/jeremr/Documents/Git/Recommenders
*** sys.path:
        /mnt/c/Users/jeremr/Documents/Git/Recommenders/scripts
        /home/jrr/miniconda/lib/python37.zip
        /home/jrr/miniconda/lib/python3.7
        /home/jrr/miniconda/lib/python3.7/lib-dynload
        /home/jrr/miniconda/lib/python3.7/site-packages
Traceback (most r

[2019-04-01 22:28] jreynolds01 commented on #692
Just fixed #702 - will fix this in a little bit as well.

[2019-04-02 06:33] yueguoguo commented on #701
+1 on option1. Is it heavy to import Temporary Directory? Given we don't have every testing script importing TemporaryDirectory, maybe the overhead is negligible...

[2019-04-02 07:41] miguelgfierro commented on #695
mmm, yeah that would be a workaround

[2019-04-02 09:44] anargyri commented on #689
TBH most of these suggestions sound good to me. Just in the interest of housekeeping, having .py and .ipynb files together is a bit messy and you need to take care that it is clear which .py corresponds to each .ipynb.

[2019-04-02 09:57] anargyri commented on #695
Not in the Hyperdrive notebooks.

[2019-04-02 10:53] #702 closed

[2019-04-02 10:54] #692 closed

[2019-04-02 10:56] miguelgfierro commented on #695
since @jingyanwangms is the only one using it, can you take care of this issue in your PR?

[2019-04-02 12:04] miguelgfierro commented on #701
@loomlike, with TemporaryDirectory, when is the directory erased?

[2019-04-02 12:12] miguelgfierro commented on #556
done in https://github.com/Microsoft/Recommenders/pull/680

[2019-04-02 12:12] #556 closed

[2019-04-02 12:13] miguelgfierro commented on #402
closing this, since we are merging to master more often, it is not a priority, feel free to reopen if needed

[2019-04-02 12:13] #402 closed

[2019-04-02 12:46] anargyri opened #705 "Update Surprise tuning notebooks"
### Description

Use temp dirs as in #701 and delete the compute.

[2019-04-02 13:56] loomlike commented on #701
@miguelgfierro you're right! Thought we wanted to use *context manager*(which I was obsessed about!) from our test functions which doesn't work with the fixtures, but we don't need to use context manager.

I will use 1st approach with our own fixture (what Miguel showed) for extra safety. Also will use function scope instead of module.

[2019-04-02 14:13] roalexan commented on #698
you have a point there, Jun. I'm not sure if this is conclusive, but I seem to only to be able to reproduce this occasionally on reco_full. not reco_gpu.

[2019-04-02 15:23] heatherbshapiro commented on #695
Do we want to require people to install things at the beginning of notebooks, though?

[2019-04-02 17:56] jingyanwangms commented on #695
azureml.contrib.notebook is required for submitting notebook through aml. But if we don't want azureml.contrib to install as default in base yaml files, @heatherbshapiro what would you recommend doing here?

[2019-04-02 21:18] jingyanwangms commented on #695
@miguelgfierro Sure. I can do it in my PR.

[2019-04-03 02:01] jreynolds01 commented on #672
Also did you create a /FileStore in the local filesystem? By default it's just a dbfs path and not available on local (except through /dbfs/FileStore)

[2019-04-03 04:59] loomlike commented on #698
will look into it more in the next couple of days.

[2019-04-03 10:44] miguelgfierro commented on #701
@loomlike, about the context manager thing, there is an alternative in pytests: https://pytest.readthedocs.io/en/2.8.7/yieldfixture.html

maybe yield fixture will allow you to do this:
[code]
is this what you want?

[2019-04-03 10:54] #662 closed

[2019-04-04 10:18] msalvaris opened #708 "Memoization (Caching)"
### Description
Some of the more computer intensive functions could make use of memoization/caching.
Hashing pandas and numpy arrays is key to this
https://stackoverflow.com/questions/16589791/most-efficient-property-to-hash-for-numpy-array
https://stackoverflow.com/questions/31567401/get-the-same-hash-value-for-a-pandas-dataframe-each-time

### Expected behavior with the suggested feature
The mem

[2019-04-04 10:24] miguelgfierro commented on #708
More examples for numpy: https://gist.github.com/Susensio/61f4fee01150caaac1e10fc5f005eb75 and https://stackoverflow.com/questions/52331944/cache-decorator-for-numpy-arrays

[2019-04-04 12:59] gramhagen commented on #708
looks useful, though it seems like this would be difficult to extend to dataframes? with the numpy arrays you can convert the array to a hashable tuple and then convert it back, pd.util.hash_pandas_object wouldn't let you convert back to the unhashed object. is it possible to convert the dataframe differently so that we could undo it, or possibly ignore arguments passed to lru_cache (i.e. pass bot

[2019-04-04 13:26] msalvaris commented on #708
Hashing is only used for indexing in the dict the daraframe or other pandas object would be stored as is. What were you thinking of doing @gramhagen ?

[2019-04-04 13:48] gramhagen commented on #708
oh, are you thinking we can rewrite the underlying hashing approach inside lru_cache?

[2019-04-04 13:49] msalvaris commented on #708
Yes

[2019-04-04 14:34] roalexan opened #709 "[BUG] Error in mmlspark-lightgbm on Windows"
### Description
I'm getting an error when running:

pytest tests/unit -m "notebooks and spark and not gpu"
	1 failed, 5 passed, 130 deselected, 4 warnings in 6478.96 seconds

pytest tests/smoke -m "smoke and spark and not gpu"
	1 failed, 3 passed, 20 deselected, 5 warnings in 1011.78 seconds

More specifically, the errors occur in these tests:

	pytest tests/unit/test_notebooks_pyspark.py -k test_

[2019-04-04 15:16] miguelgfierro commented on #709
it looks it is not resolving correctly the mmlspark version: `com.microsoft.ml.spark#mmlspark_2.11;0.16.dev8+2.g6a5318b: not found` it is weird that this is happening on windows. @mhamilton723 any idea where the problem could be?

[2019-04-04 15:20] miguelgfierro opened #711 "[ASK] Create a logo for Recommenders"
### Description

Because all the cool kids have one :-)

### Other Comments

[2019-04-04 15:20] roalexan commented on #709
Another possibility is that it's related to a Java pathing issue - e.g. "The installation directory for Java must not have blanks in the path such as in C:\Program Files" as mentioned [here](https://stackoverflow.com/questions/31841509/pyspark-exception-java-gateway-process-exited-before-sending-the-driver-its-po#36367669). Agree that the "unsolved dependency" might be the real problem.

[2019-04-04 15:21] miguelgfierro commented on #711
@mhamilton723 how did you get your logo in MMLSpark?

[2019-04-04 16:44] roalexan commented on #709
tested with JAVA_HOME=C:\java\Zulu\zulu-8\ on one of my Windows DSVMs - no space in path - still didn't work.

[2019-04-04 22:08] roalexan commented on #709
BTW, I created a new Windows DSVM and this time did 'conda update conda' then 'conda install anaconda'. This brings the conda version to 4.6.9, and apparently fixes the problem where the pip installs weren't working. Unfortunately, this issue persists.

[2019-04-05 01:55] gramhagen commented on #709
I think there's a bug in the noteboook in how the maven repo info is retrieved, honestly I'm surprised it's working in linux, testing fix now

[2019-04-05 02:11] gramhagen commented on #709
@roalexan can you checkout this branch and try it on your environment?
gramhagen/mmlspark_lgbm_win_bug

[2019-04-05 12:46] gramhagen commented on #677
ok, this should be fixed in staging, @roalexan can you confirm this fixes the issue you're seeing?

[2019-04-05 17:18] roalexan commented on #709
Hitting an issue. Talked with Scott a bit. Tried set SPARK_HOME="" but problem persists. Scott could reproduce the same issue on a Linux DSVM, and unsetting SPARK_HOME fixed the issue. The main error is: E           Py4JJavaError: An error occurred while calling o96.getParam.
E           : java.util.NoSuchElementException: Param boostFromAverage does not exist.
The full trace is attached here:
[er

[2019-04-05 17:39] roalexan commented on #709
Tried setting set SPARK_HOME="C:\Anaconda\envs\reco_pyspark\Lib\site-packages\pyspark\jars" - didn't work - file not found exception.

[2019-04-05 18:17] miguelgfierro opened #716 "[BUG] in integration tests with VW"
### Description

[code]
original error: https://msdata.visualstudio.com/AlgorithmsAndDataScience/_build/results?buildId=2781053

### In which platform does it happen?

Azure Data Science Virtual Machine

### Expected behavior (i.e. solution)

tests passing

### Other Comments

[2019-04-06 19:46] loomlike commented on #709
@roalexan @gramhagen Found how to fix the error, here is a go-around way to fix it:
1. unset PYTHONPATH: `set PYTHONPATH=`  (note, this is temporal method. we should find better way to handle this)
2. change lightgbm notebook's mmlspark package path to **stable** version:
[code]
'1' lets your spark drivers use correct python (our env's) and '2' I guess we've been using a dev version... please conf

[2019-04-08 17:14] miguelgfierro commented on #716
I've been looking at this, the failure comes in the integration tests of "1m". I found that 19 days ago we changed the metrics, [originally we had](https://github.com/Microsoft/Recommenders/blob/0554b7ff853e49e109c0ba71144be3c4a8a1181e/tests/integration/test_notebooks_python.py#L121):
[code]
tbh the rating metrics seemed too high, and [now we have](https://github.com/Microsoft/Recommenders/blob/st

[2019-04-08 17:47] gramhagen commented on #716
this is a little fuzzy, i think it was due to the dataframes having identical column names ('rating') when we merged them inside the metrics code the true rating column was renamed, it looks like I'm not dropping that column in the final calculation used for the metrics?
perhaps the latest changes to the metrics code exposed this? I'll look into it, we may need to check for this case in the metric

[2019-04-08 19:43] gramhagen commented on #709
yes, we're using the dev version for Markus's optimization. That is temporary. But it's strange that the dev version does not work and the stable version does. I don't know if they build the final jar differently than dev artifacts?

imo the best way to handle this is to create a script to set (environment variables)[https://docs.conda.io/projects/conda/en/latest/user-guide/tasks/manage-environmen

[2019-04-09 00:25] #690 closed

[2019-04-09 02:07] gramhagen commented on #716
yeah, couple of problems. if a column sharing the rating column name exists in the prediction dataframe it generates errors when calculating metrics. I've corrected this issue in #713, but there are also problems with how I'm generating the all pair evaluation set. I need to update the test metrics for all the versions of the notebook.  they are much lower now =(  ... but as you mention they were

[2019-04-09 11:48] miguelgfierro commented on #709
hey guys, if there is only one tests that is blocking the development, it might be a good idea to skip it for now, push all the windows part and then come back to this

[2019-04-09 17:23] #677 closed

[2019-04-09 17:24] #564 closed

[2019-04-10 12:57] roalexan commented on #698
can't reproduce at this point - closing.

[2019-04-10 12:57] #698 closed

[2019-04-10 13:14] gramhagen commented on #708
addressed in #713

[2019-04-10 13:14] #708 closed

[2019-04-10 13:15] gramhagen commented on #716
fixed in #722

[2019-04-10 13:15] #716 closed

[2019-04-10 13:16] gramhagen commented on #578
addressed in #682

[2019-04-10 13:16] #578 closed

[2019-04-11 13:56] roalexan opened #731 "[BUG] Sporadic AssertionError running non-notebook/spark/gpu unit tests on Windows DSVM"
### Description
I'm hitting a sporadic assertion error when running:

		conda activate reco_base
		pytest tests/unit -m "not notebooks and not spark and not gpu"

on a Windows DSVM. See attached file for exact test and associated error.
[sporadic-assertion-error.txt](https://github.com/Microsoft/Recommenders/files/3068962/sporadic-assertion-error.txt)

### In which platform does it happen?
Windows

[2019-04-11 14:15] miguelgfierro opened #732 "[BUG] Update contribution guidelines to match the current process of merging to master every time a milestones is finished"
### Description

We need to update the [wiki](https://github.com/Microsoft/Recommenders/wiki/Strategy-to-merge-the-code-to-master-branch) and the [contribution guidelines](https://github.com/Microsoft/Recommenders/blob/master/CONTRIBUTING.md#steps-to-contributing) to reflect the new changes in our process

[2019-04-11 15:15] miguelgfierro opened #733 "[FEATURE] Refactor utilities that are in the notebook and in the benchmark utils to a common place in reco_utils"
### Description

ask from @gramhagen and @yueguoguo

from [here](https://github.com/Microsoft/Recommenders/pull/715#discussion_r274054120)

from [here](https://github.com/Microsoft/Recommenders/pull/715#discussion_r273031871)

[2019-04-12 02:15] loomlike opened #736 "[FEATURE] Use rand-seed for reproducibility"
### Description
Use seed for NN-based models - both at notebooks and tests

### Expected behavior with the suggested feature
Produce same results from notebooks
Assert exact value from tests

[2019-04-12 02:15] loomlike commented on #731
Created an issue (#736). This bug will be fixed by resolving the issue.

[2019-04-12 02:15] #731 closed

[2019-04-12 02:16] #701 closed

[2019-04-12 02:17] #685 closed

[2019-04-12 06:35] miguelgfierro commented on #436
closing this, feel free to reopen if needed

[2019-04-12 06:35] #436 closed

[2019-04-12 06:37] miguelgfierro commented on #507
duplicate of https://github.com/Microsoft/Recommenders/issues/464, being developed in PR https://github.com/Microsoft/Recommenders/pull/715

[2019-04-12 06:37] #507 closed

[2019-04-12 06:37] #524 closed

[2019-04-12 06:43] #567 closed

[2019-04-12 06:44] miguelgfierro commented on #491
added by Jun Ki

[2019-04-12 06:44] #491 closed

[2019-04-12 06:46] miguelgfierro opened #737 "[FEATURE] Create independent pipelines for testing in Windows"
### Description

We want to be able to execute the tests in parallel, for it we need to start a machine, start the devops agent, execute the tests, send the output to devops and shut down the VM

We can start programatically the VM using the cli:
`az vm start --resource-group myResourceGroup --name myVM`

### Expected behavior with the suggested feature

### Related
https://github.com/Microsoft/Re

[2019-04-12 13:29] loomlike commented on #709
Proper env variable setup fixes part of this issue. Also mmlspark has a known issue on Windows. Will keep track the thread. Setup instructions has been merged into staging.

[2019-04-12 20:01] almudenasanz commented on #525
I think this other dataset could be used for news recommendation: https://www.kaggle.com/gspmoreira/articles-sharing-reading-from-cit-deskdrop

[2019-04-13 17:58] loomlike commented on #733
check `user_item_pairs` in `reco_utils/dataset/pandas_df_utils.py`
is that what "get_all_user_items" is doing?

[2019-04-15 11:13] miguelgfierro commented on #736
we are using seed in the algos: https://github.com/Microsoft/Recommenders/blob/master/reco_utils/recommender/rbm/rbm.py#L74. I'm not sure if there is anyone missing.

When trying to address reproducibility, @anargyri @msalvaris  and I had some fun trying to achieve it. In DL is very difficult, since the optimization is stochastic and there are some asynchronous processes in the GPU that make diffi

[2019-04-15 11:52] anargyri commented on #525
Do they have a link to the data outside Kaggle?

[2019-04-15 13:59] Tian-Su opened #738 "[FEATURE]ALS ensemble code"
### Description

I like the ALS ensemble results Jun Ki created before. I remember it is almost ready as a module. Would be a great feature for this repo.

### Expected behavior with the suggested feature

It can be a function that can ensemble any recommender models.

### Other Comments

[2019-04-15 16:55] loomlike commented on #738
I have the notebook in my repo. Can port that into this repo easily.

[2019-04-15 17:00] loomlike opened #740 "[FEATURE] Azure notebook SETUP"
### Description
Add Azure notebook to our SETUP doc.
I tested google colab and Azure notebook to run reco-repo without requiring creating any DSVM or compute by myself, and it works really well with simple tweaks to the notebooks (e.g. for some libs, should install manually).

I think it would be good to add at least Azure notebook to our SETUP doc, where users can easily test out our repo w/o set

[2019-04-15 17:03] loomlike commented on #740
When we consider only free options,
Pros of using Azure notebook is you can easily import github repo and run notebook from there.
Pros of using Google colab is definitely free GPUs.

[2019-04-15 17:25] loomlike commented on #736
hmmm seems like there are many threads discussing about non-deterministic results from tf out there.
In fastai, you can set several seeds to make the results reproducible.

Have you tried no-multi-threading with all the seeds set including `tf.random.set_random_seed`? Still no luck?

[2019-04-15 21:23] miguelgfierro commented on #736
yeah we have that function in all the DL algos: https://github.com/Microsoft/Recommenders/search?q=tf.random.set_random_seed&unscoped_q=tf.random.set_random_seed

[2019-04-16 10:39] anargyri commented on #446
Has the Movielens xDeepFM code been moved somewhere else?

[2019-04-16 11:18] #695 closed

[2019-04-16 11:19] miguelgfierro commented on #464
fixed with https://github.com/Microsoft/Recommenders/pull/715

[2019-04-16 11:19] #464 closed

[2019-04-16 20:49] miguelgfierro commented on #738
love the idea!

[2019-04-16 21:14] loomlike opened #742 "[FEATURE] AzureML Hyperdrive resource cleanup"
### Description
As @jingyanwangms pointed out, the remote computed used for hyperparameter tuning should be deleted at the end (or set min_nodes to 0) to avoid unnecessary cost.

### Expected behavior with the suggested feature
For both `azureml_hyperdrive_wide_and_deep.ipynb` and `azureml_hyperdrive_surprise_svd.ipynb` notebooks,
change `MIN_NODE` to **0**.

### Other Comments
`delete` maybe clea

[2019-04-17 05:33] miguelgfierro commented on #736
see this, just yesterday we got an error in the nightly builds for xdeepfm: https://msdata.visualstudio.com/DefaultCollection/AlgorithmsAndDataScience/_build/results?buildId=2873512

[2019-04-17 17:00] loomlike commented on #736
yeah... we should handle this randomness, but I couldn't find time to work on this issue. If this is urgent thing, can anybody take this item and fix? If not, we can temporally loose the tolerance value for NN algos and I will take care in the next few weeks.

[2019-04-17 19:37] loomlike commented on #709
Related issue in mmlspark repo:
https://github.com/Azure/mmlspark/issues/483

[2019-04-18 14:25] miguelgfierro opened #746 "[BUG] in NNI integration test"
### Description

[code]

### In which platform does it happen?

* Azure Data Science Virtual Machine.

### How do we replicate the issue?

run `tests/integration/test_notebooks_python.py`

### Expected behavior (i.e. solution)

### Other Comments

[2019-04-18 14:50] miguelgfierro commented on #736
adding more folks to discuss this @anargyri @yueguoguo @gramhagen. I agree with Jun Ki, I think it is a very annoying issue. Many times our GPU nightly builds fails because of this

[2019-04-18 14:57] miguelgfierro commented on #736
One example of a nightly build that failed:

[code]
I think in this case it is safe to widen the tolerances because in the smoke tests we are doing a small number of iterations, so it's normal that the metrics change a lot. Probably in the integration tests we can be more strict, because there we have more iterations and the model should converge to certain metrics

[2019-04-18 18:10] roalexan opened #747 "[BUG] No matching distribution found for nni==0.5.2.1 on Windows DSVM"
### Description
Seeing an error when installing nni on Windows. This is the error that I see when setting up the environment:

DEBUG menuinst_win32:__init__(196): Menu: name: 'Anaconda${PY_VER} ${PLATFORM}', prefix: 'C:\Anaconda\envs\nightly_reco_base', env_name: 'nightly_reco_base', mode: 'system', used_mode: 'system'
DEBUG menuinst_win32:create(320): Shortcut cmd is C:\Anaconda\python.exe, args

[2019-04-18 18:14] gramhagen commented on #747
it seems as though they are not supporting windows past version 0.3.4 (at least from what is availabily on PyPI)

i'm not sure if the repo is cloned if it can still be built on windows, but this introduces a challenge both on the yaml file generation side and the unit testing side. Should we check the OS system and remove nni / nni tests?

[2019-04-18 18:25] roalexan commented on #747
In addition to not running the nni tests on Windows, we'll have to see how to create the python environment, minus this one package. Or maybe use the latest installable nni package on either environment and see if the tests run.

[2019-04-18 18:29] gramhagen commented on #747
yeah, it's feasible to remove this package in the generate_conda_file script if it detects a windows system, but it seems less than ideal. Let's hold until @anargyri can weigh in.

@scarlett2018 do you know if windows support has intentionally been removed from the latest PyPI versions?

[2019-04-18 19:01] gramhagen commented on #747
oh, i see the documentation describes that too, only linux and mac: https://nni.readthedocs.io/en/latest/Installation.html

[2019-04-19 03:17] scarlett2018 commented on #747
@gramhagen - right, Windows support is still on the way. we are planning to support Windows in the upcoming April release.  https://github.com/Microsoft/nni/issues/944

[2019-04-19 12:21] gramhagen commented on #747
ok, thanks! so I think the best approach for now is to skip nni install / testing if the platform is windows. I've started a branch for that, will push to PR later today.

[2019-04-19 12:53] gramhagen commented on #746
we need to update any static conda environments used for testing with the nni package, I can take care of that

[2019-04-19 16:26] gramhagen commented on #746
ok, i guess the problems aren't with the package installation, as those are already in staging, plus the notebook installs additional smac package for nni, there's something deeper happening here

[2019-04-19 18:13] gramhagen commented on #746
digging in further here, the problem seems to be with the SMAC optimizer, there's a type hint buried deep in the code which is mispecified, fixing it doesn't seem trivial.

[code]

[2019-04-19 19:16] szipkin opened #750 "[ASK] Retrieving latent factors from VW matrix factorization"
### Description

I'm using an Azure DSVM that has VW pre-installed and running the VW deep dive notebook. It shows 2 matrix factorization recommender methods and how to do training and scoring from them, but I would like to retrieve the latent factors or decomposed matrices from the methods for further processing in python. Or at least output the readable models or weights to a text file.

I canno

[2019-04-22 13:45] gramhagen commented on #750
Right, currently on DSVMs only the VW binary exists. You can however use the invert_hash option to generate a more readable model.

example:
```vw --lrq ui7 -d train.dat -f vw.model --invert_hash vw.model.txt```

which will give you a file that contains the item, user, and global biases, as well as low rank weights for each item and user seen in train.dat

example, the weight vector for item 1058

[2019-04-22 20:18] szipkin commented on #750
If I have the Ubuntu DSVM, does it already have the necessary tools to build vw + library files once I download the 8.1.1 release version there? (Meaning I can open up the terminal and run the build/install commands as described in VW wiki?)

Thank you so much for your help!

[2019-04-22 21:22] gramhagen commented on #750
yes, you can do that on an ubuntu dsvm

[code]

[2019-04-23 15:17] gramhagen commented on #750
Let us know if you have further questions or issues, closing this for now.

[2019-04-23 15:17] #750 closed

[2019-04-23 18:39] loomlike commented on #742
Resolved w/ #751 ✌️

[2019-04-23 18:39] #742 closed

[2019-04-23 18:50] loomlike opened #753 "[FEATURE] Default random-seed to None"
### Description
* Set modules' default random-seed to be `None` to follow communities' convention.
If None, the random value will most likely generate unpredictable random value, e.g. see [numpy doc](https://docs.scipy.org/doc/numpy/reference/generated/numpy.random.RandomState.html#numpy.random.RandomState).

* Set the seed at notebooks and tests explicitly whenever we want to have deterministic r

[2019-04-24 16:04] #672 closed

[2019-04-24 17:24] jingyanwangms opened #755 "[BUG] Broken link (run_notebook_on_azureml) in readme"
### Description

![image](https://user-images.githubusercontent.com/47403504/56679882-ea08cf80-667a-11e9-809d-04d5a4afc666.png)
Link leads to 404 page. This is so small. Probably best to combine with another PR

[2019-04-24 19:31] gramhagen opened #756 "[ASK] Changes references of SAR to be Simple Algorithm for Recommendation"
### Description
SAR references should all be changed to: Simple Algorithm for Recommendation

[2019-04-25 13:21] miguelgfierro commented on #694
I'll take this piece of work

[2019-04-25 21:39] loomlike opened #760 "[FEATURE] Distributed training of TF recommenders on Kubeflow"
### Description
Distributed training of TF recommenders by utilizing gpu clusters of AKS.

### Expected behavior with the suggested feature
A kubeflow-notebook to show how to utilize Kubeflow on AKS to train Tensorflow-based recommenders.

[2019-04-27 14:07] wutaomsft commented on #641
+1 to fix this as this is breaking notebooks now that papermill 1.0 is out @gramhagen @yueguoguo

[2019-04-27 15:12] gramhagen commented on #641
We have locked down the version to 0.18.2, so this shouldn't cause is trouble. But yeah we should prioritize switching off to minimize changes as new notebooks are added.

[2019-04-27 15:22] wutaomsft commented on #641
Hmm when I created the Env papermill was not installed...

________________________________
From: Scott Graham <notifications@github.com>
Sent: Saturday, April 27, 2019 11:12:46 AM
To: Microsoft/Recommenders
Cc: Tao Wu; Comment
Subject: Re: [Microsoft/Recommenders] [BUG] Papermill Record is deprecated in Papermill 1.0 and has been replaced by scrapbook (#641)

We have locked down the version to 0.

[2019-04-27 16:00] gramhagen commented on #641
We've seen this on Windows for certain versions of conda. Try conda update conda, then retry the env installation.
________________________________
From: wutaomsft <notifications@github.com>
Sent: Saturday, April 27, 2019 11:22:33 AM
To: Microsoft/Recommenders
Cc: Scott Graham; Mention
Subject: Re: [Microsoft/Recommenders] [BUG] Papermill Record is deprecated in Papermill 1.0 and has been replaced

[2019-04-27 16:21] wutaomsft commented on #641
Yes this is on windows.

________________________________
From: Scott Graham <notifications@github.com>
Sent: Saturday, April 27, 2019 12:00:16 PM
To: Microsoft/Recommenders
Cc: Tao Wu; Comment
Subject: Re: [Microsoft/Recommenders] [BUG] Papermill Record is deprecated in Papermill 1.0 and has been replaced by scrapbook (#641)

We've seen this on Windows for certain versions of conda. Try conda upd

[2019-04-29 10:12] miguelgfierro commented on #760
This is cool

[2019-04-29 10:13] miguelgfierro opened #762 "[FEATURE] Create explicit regression metrics for LightGBM"
### Description

refactor:
[code]
and put it in the notebook to make it explicit

### Expected behavior with the suggested feature

### Other Comments

[2019-04-29 12:56] yueguoguo commented on #762
Maybe we want to refactor the existing logloss and auc metric implementations to allow inputs of arrays?

[2019-04-29 14:37] roalexan opened #765 "[BUG] manual setup instructions to install azureml-sdk[databricks]==1.0.8 don't work"
### Description
Following the instructions here: https://github.com/Microsoft/Recommenders/blob/1b682fc63b6e154709856c20a9ce355802c054c2/SETUP.md#setup-guide-for-azure-Databricks.

 I get this error: No matching distribution found for azureml-sdk[databricks]==1.0.8
### In which platform does it happen?
Manually setting up Databricks environment

### How do we replicate the issue?
Follow manual set

[2019-04-29 17:16] gramhagen commented on #765
Looks like the manual description is missing adding pypi dependencies.

@roalexan  I'm assuming you didn't add any pip package dependencies for the cluster?
@jreynolds01 do you have time to add the manual steps that match the databricks install script?

[2019-04-29 17:19] gramhagen opened #767 "[FEATURE] Move mmlspark version used to 0.17"
### Description
with MMLSpark 0.17 release we can use the official release instead of dev versions in install scripts.

### Expected behavior with the suggested feature
search for mmlspark jar references and replace them with 0.17 release jar on maven

### Other Comments
https://github.com/Azure/mmlspark/releases/tag/v0.17
https://mvnrepository.com/artifact/Azure/mmlspark/0.17

[2019-04-29 17:20] roalexan commented on #765
I just followed the documented steps: uploaded a zipped reco repo egg, then installed azure-cli==2.0.56, then went to install azureml-sdk[databricks]==1.0.8. What pip package dependencies are needed? I thought about upgrading pip (as per the console output), but held off and filed this bug for now.

[2019-04-29 17:36] gramhagen commented on #765
I guess I'm confused, are you seeing this error on your local machine or from a databricks notebook?

when you say you went to install azureml-sdk[databricks]==1.0.8 where / how are you doing that?

[2019-04-29 17:38] gramhagen commented on #765
I don't think I scrolled all the way down to the operationalization section of the manual instructions, that's the piece that's causing trouble?

[2019-04-29 17:40] roalexan commented on #765
yeah, scroll down - see section "AND you must also install some additional dependencies. ". That's where I hit this. This is all from the portal - configuring the cluster.

[2019-05-01 14:43] miguelgfierro opened #768 "[BUG] Review all recommend_top_k algos"
### Description

There are some inconsistencies between the implementations of recommend_top_k. In SAR we are using the users of the test set whereas in SVD we are using the users in the train set. Sometimes they can be the same, but not in general.

Also, as suggested by @yueguoguo, there is a function to optimally remove the seen items, but each algo use its own function

[2019-05-01 20:23] gramhagen commented on #768
this is a good catch, pretty much all the approaches can work the same if set to score the set of user-item pairs (generated from the crossjoin of unique users and items in the test set, with seen items removed). I think we do that once (using the method @yueguoguo mentioned) in the benchmark script, and then adjust the recommend_k_x methods to call the algo's score method then rank the results.

[2019-05-01 21:03] miguelgfierro commented on #768
agree

[2019-05-02 09:51] miguelgfierro commented on #768
We need to take a look at the fastai function when we are removing the seen items. This can be improved

[code]

[2019-05-02 11:09] anargyri commented on #768
A better practice (from an ML perspective) would be to remove the training data and the `remove_seen` flag from the `recommend_k()` methods and input the set of available items instead. This set would need to be computed outside the method.
A further option is to input users and items instead of a single dataframe. That would be more convenient to the user if they want to do something other than "

[2019-05-02 11:18] gramhagen commented on #768
If recommend_k operates only on input users then retaining remove seen as an option makes sense. This may only apply to algos which maintain the full set of items internally.

Pregenerating the user-item pairs is fine but should go through a score method not recommend_k.

[2019-05-02 12:57] gramhagen commented on #768
yeah, maybe a quick benchmark on which is the fastest way to generate all user-item pairs df. then update dataset.pandas_df_utils.user_item_pairs.  we can also leverage common.python_utils.get_top_k_scored_items to speed up getting recommended items.

[2019-05-02 14:21] anargyri commented on #768
My point was not about implementation, but about the interface we expose to the data scientist. I am proposing that this is very simple i.e. something like
`recommend_k(set of users, set of items)`
and recommend_k() outputs the top-k items among `set_of_items` per user.

[2019-05-02 16:31] miguelgfierro commented on #753
I discover the other day that fastai gives back the exact same results, so the seed is working, however, NCF doesn't

[2019-05-02 16:38] anargyri commented on #768
More like
[code]

The idea is to be able to cover other situations as well. For example, the data scientist may want to recommend only to a subset of users (e.g. the "warmer" ones). Or they may want to exclude certain items (e.g. not show Chinese movies to users from France).

[2019-05-02 17:10] gramhagen commented on #768
i'm confused, aren't the unseen items only unseen for a specific user? this sounds like excluding sets of items across all users.

I was thinking that you may only want to recommend novel items for a user, in which case you would need to know which item-user pairs were in the training set and remove them from the user-item pairs of the test set

[2019-05-02 18:34] roalexan opened #769 "[BUG] Windows reco_base - tests\unit\test_timer.py:40: AssertionError"
### Description
Windows test on reco_cpu causing an assertion error. The error is here: tests\unit\test_timer.py:40: AssertionError. Here are the error lines:

assert t.interval == pytest.approx(1, abs=TOL)
E       assert 0.9884977 == 1 � 1.0e-02
E        +  where 0.9884977 = <reco_utils.common.timer.Timer object at 0x0000028302638048>.interval
E        +  and   1 � 1.0e-02 = <function approx at 0

[2019-05-02 19:32] roalexan opened #770 "[BUG] Windows reco_base - tests\integration\test_notebooks_python.py:45"
### Description
For the Windows DSVM test machine going against staging, I'm using the reco_base environment and running this test tests\integration\test_notebooks_python.py:45 and seeing this error:

E           papermill.exceptions.PapermillExecutionError:
E           ---------------------------------------------------------------------------
E           Exception encountered at "In [16]":
E

[2019-05-02 20:00] gramhagen commented on #769
i think the easiest thing to do here is just increase the tolerance, i suggest either 0.03 or 0.05
@miguelgfierro thoughts?

[2019-05-02 20:08] miguelgfierro commented on #769
yeah, we an increase the tolerance, but it is weird, time(1) in Windows is not 1 second? lol

[2019-05-02 20:17] gramhagen commented on #769
yeah, surprising, on my laptop

[code]
which on avg. is well within tolerance, but it's not a rtos, so i guess it's all variable /shrug

[2019-05-02 20:57] anargyri commented on #768
Yes, you are right. I am thinking a bit more generally than the case of seen-unseen items, for example, remove Chinese movies for French users and French movies for Chinese users. I guess Miguel was also thinking of the same thing.  Maybe my syntax is a bit too complicated because the items would be a dictionary of lists. Miguel's syntax with dataframes is probably better.

[2019-05-03 10:29] miguelgfierro commented on #732
Finished

[2019-05-03 10:29] #732 closed

[2019-05-03 11:49] miguelgfierro opened #771 "[FEATURE] Refactor NCF load function"
### Description

From the conversation [here](https://github.com/Microsoft/Recommenders/pull/759#discussion_r279352684):
@gramhagen  about this, I´ve been looking at how they save the models in ligthgbm https://github.com/Microsoft/LightGBM/blob/master/examples/python-guide/advanced_example.py#L83 and sklearn https://machinelearningmastery.com/save-load-machine-learning-models-python-scikit-learn/

[2019-05-03 12:48] #756 closed

[2019-05-03 13:34] yueguoguo commented on #768
I think it might be more user friendly to have the "list of the users" as input to function `recommend_k_items`. In this way, it might be also useful to enhance the computation efficiency, as the user list can be used for subsetting the recommended user-(k)-item pairs. It is also easy to maintain the list of users instead of a dataframe that contains user, item, and probably rating columns.

Curre

[2019-05-03 20:06] roalexan commented on #769
issue now fixed with slightly "relaxed" assertion.

[2019-05-03 20:06] #769 closed

[2019-05-04 18:11] loomlike commented on #753
I'm working on NCF seed too. Currently blocked by #759

[2019-05-06 17:47] gramhagen commented on #770
yeah, i think we should avoid using the random splitting for SAR. I'll change this to be stratified by user so we ensure all users exist in both train and test. will need to update the notebook and tests metrics slightly.

[2019-05-07 06:46] miguelgfierro commented on #768
I think we should consider using a data frame, with the same columns as in the other functions, users, items...
It is more consistent with the rest of the code and hopefully it's easier to understand by the user

[2019-05-07 06:47] miguelgfierro commented on #768
I think we should consider using a data frame, with the same columns as in the other functions, users, items...
It is more consistent with the rest of the code and hopefully it's easier to understand by the user

[2019-05-07 15:23] gramhagen commented on #770
Turns out the root cause is the demo user 877 doesn't exist in movielens 10m dataset. Not sure if that was removed from the dataset?

[2019-05-07 15:33] roalexan commented on #765
@gramhagen I've got an environment up and running now where I can reproduce this error.

[2019-05-07 15:41] nikhilrj opened #774 "[FEATURE] Pip Installable Recommenders"
### Description
Pip installable Recommenders on GitHub (add setup.py that enables this)

### Expected behavior with the suggested feature
I can pip install Recommenders with the following command:

`pip install git+https://github.com/microsoft/recommenders.git
`
### Other Comments

[2019-05-07 15:52] gramhagen commented on #774
#639 should support this behavior

[2019-05-07 16:10] wutaomsft opened #775 "[BUG]tests are failing."
### Description

### In which platform does it happen?

### How do we replicate the issue?

### Expected behavior (i.e. solution)

### Other Comments

[2019-05-07 16:23] gramhagen commented on #775
several issues going on here
- master cpu is failing due to the nni smac issue @anargyri are you ok pushing the current staging solution to this to master? or are there changes we should make to the nni notebook?

- master gpu is failing due to metrics discrepancy with xdeepfm - could be something we can fix with setting seeds, @loomlike is this something you have time to look into?

- staging fai

[2019-05-07 20:48] anargyri commented on #775
I agree we should push staging until NNI fix the issue.

[2019-05-08 01:07] szipkin commented on #750
I trained a rank 40 model on the movielens data, but cannot retrieve the weights from the trained model with gd_mf_weights. I'm following the syntax from the matrix factorization example but it is giving me errors. Any advice?

Model training call:
`vw --rank 40 -q ui --l2 0.1 --learning_rate 0.015 --decay_learning_rate 0.97 --power_t 0 --passes 50 --cache_file movielens.cache -f movielens.reg -d

[2019-05-08 18:59] miguelgfierro commented on #526
TODO:

compare results with old code movielens results:https://github.com/NVIDIA/DeepRecommender/issues/11

[2019-05-08 20:25] miguelgfierro commented on #526
Initial result: https://github.com/microsoft/recommenders/blob/autoencoder/notebooks/02_model/deep_autoencoder_deep_dive.ipynb

[2019-05-09 07:49] fly12357 opened #777 "iterator doesn't support the input format of "FM"?"
Tensorflow version: 1.13.1
python 3.6.8

./xDeepFM/Recommenders/reco_utils/recommender/deeprec/IO/iterator.py

![image](https://user-images.githubusercontent.com/40494145/57456142-61f01000-729f-11e9-9108-fcbd0871502a.png)

./xDeepFM/Recommenders/reco_utils/recommender/deeprec/deeprec_utils.py

![image](https://user-images.githubusercontent.com/40494145/57456202-8a780a00-729f-11e9-8106-e942a7d5179f

[2019-05-09 12:56] gramhagen commented on #777
Hi @fly12357 can you provide a bit more detail where this issue is occurring, what platform, what part of the code? And what the expected behavior is? This will help us debug and address what's happening.

[2019-05-09 13:24] fly12357 commented on #777
It seems that there isn't an useful data iterator script for "FM" format input.

I modify the "deeprec_utils.py" as below. and change the "FM" format input file to "FFM" format (each feature with a unique field) to solve this problem.

![image](https://user-images.githubusercontent.com/40494145/57456566-5bae6380-72a0-11e9-88ec-e05f693340f4.png)

[2019-05-09 15:18] miguelgfierro commented on #746
I just run the test again and got a different error:
[code]

@anargyri, do you know what might be happening?

[2019-05-09 15:19] anargyri commented on #746
Yes, it is a simple fix.

[2019-05-09 15:20] miguelgfierro commented on #775
SAR issue is fixed. We still need to fix the issue with NNI https://github.com/microsoft/recommenders/issues/746

@loomlike I think you have a fix for the xdeepfm right? is this already in staging?

[2019-05-13 13:02] gramhagen commented on #775
addressing the staging nni failure in #781

[2019-05-15 08:09] loomlike commented on #775
Will take a look at xDeepFM one.

[2019-05-15 09:52] yueguoguo opened #782 "[BUG] DeepRec scoring write file line break is not correct"
### Description
In prediction with a trained deeprec model (e.g., xdeepfm), writing the prediction scores to the output file does not break lines correctly. This is owing to a bug in here[https://github.com/microsoft/recommenders/blob/1b682fc63b6e154709856c20a9ce355802c054c2/reco_utils/recommender/deeprec/models/base_model.py#L503] where the line break is only added for the score string within eac

[2019-05-15 14:27] miguelgfierro commented on #746
I fixed some of the bugs, added some changes to the code. Now I get this other error:
`RuntimeError: NNI experiment failed to complete with status ERROR - ['Dispatcher Error: This socket has been ended by the other party']`

This happens with the random tuner

[2019-05-16 04:12] loomlike opened #784 "[FEATURE] DeepRec's data iterator should support shuffle"
### Description
When we feed a training set to NN models, we usually shuffle the data to avoid local minima.
Currently, DeepRec's iterator doesn't allow shuffling the data when creating (data-)feed-dict.

### Expected behavior with the suggested feature
Should be able to load data w/ shuffle, as follows:
`load_data_from_file(train_file, shuffle=True, seed=123)`

### Other Comments

[2019-05-17 10:23] loomlike commented on #775
Is xDeepFM test still failing? If so, please give me more context, i.e. would be nice to know specific test function names that fail. I don't see them from my machine or PRs.

[2019-05-17 10:56] loomlike commented on #683
@miguelgfierro Do we want to skip 1.13 and directly move to 2.0?

We don't suffer any bugs from 1.12 and thus not sure moving from 1.12 to 1.13 would give any benefit to us. TF2.0, on the other hand, seems has attractive features as you said, e.g. NCF reference model, distributed training API and cleaner APIs.

[2019-05-17 13:02] miguelgfierro commented on #775
I haven't seen it failing for a while, but not sure

[2019-05-17 13:03] miguelgfierro commented on #683
yeah that makes sense. I wouldn't rush unless we see a big benefit, TF 2.0 could be buggy

[2019-05-17 13:23] gramhagen commented on #683
yeah, it would be nice to have a branch where tf 2.0 example was built out so we could compare, ncf might be a good starting point.

[2019-05-17 14:39] loomlike commented on #683
Btw, tested 1.13 with `unit/test_tf_utils.py` and `smoke/test_notebooks_gpu.py` and all tests got passed.

[2019-05-17 18:50] anargyri commented on #501
See #789

[2019-05-20 09:35] miguelgfierro commented on #683
Cool, we can upgrade them

[2019-05-22 09:26] miguelgfierro opened #794 "[FEATURE] Improve nni trials function"
### Description

Add more info about trials in nni, see [this discussion](https://github.com/microsoft/recommenders/pull/792#discussion_r286213269).

[2019-05-22 09:28] #775 closed

[2019-05-22 15:23] mit10000 opened #796 "[ASK] why ncf has no rating result?"
### Description
in https://github.com/microsoft/recommenders/blob/master/benchmarks/movielens.ipynb
the metric setting
metrics = {
    "als": ["rating", "ranking"],
    "sar": ["ranking"],
    "svd": ["rating", "ranking"],
    "fastai": ["rating", "ranking"],
    "ncf": ["ranking"],
}
means ncf will not evaluate rating, could you please explain why?
Thanks!!

### Other Comments

[2019-05-23 14:48] gramhagen commented on #796
The output of the model goes through a sigmoid layer, so the results are also between 0-1. In cases where the input ratings are in the same range [0,1], then you could apply rating evaluation metrics. But for this case we're using Movielens data with input ratings in the range [1, 5], so the rating metrics aren't applicable without scaling the inputs or outputs to the same range.

SAR is a similar

[2019-05-23 14:48] #796 closed

[2019-05-24 18:18] miguelgfierro commented on #746
the error is still there, we need to take a deeper look

FYI @anargyri

[code]
I skipped the integration test until we fix this issue https://github.com/microsoft/recommenders/commit/6134989c0ba119b2c6724c5913c1560cf042e84c

[2019-06-01 14:50] #746 closed

[2019-06-03 11:40] miguelgfierro opened #810 "[DISCUSSION] Rename scripts folder to tools"
### Description

Discussion for this.

In the other 2 repos, we are using tools. This was inspired by TF or Pytorch (see https://github.com/pytorch/pytorch/tree/master/tools)

[2019-06-03 12:39] yueguoguo commented on #810
+1

[2019-06-03 15:28] gramhagen commented on #810
works for me

[2019-06-03 15:35] anargyri commented on #810
+1

[2019-06-03 16:00] miguelgfierro commented on #528
FYI @almudenasanz, we have seen this weird error in DKN. We didn't have time to work on it. I just wanted you to be aware in case you also find it

[2019-06-03 18:36] anargyri opened #811 "[BUG] Remove recommend_seen"
### Description
recommend_seen parameter was modified but the Hyperdrive notebooks were not updated to this change.

[2019-06-06 13:17] miguelgfierro opened #815 "[FEATURE] Add section in test readme about how to setup the azureml tests"

[2019-06-06 13:39] karthikraja95 opened #816 "[ASK] In NCF Deep dive and ncf_movielens notebook, I used my own dataset instead of movie lens, its has userID itemID and ratings (i used counts here as rating like implicit data). The notebook throws the following error? could someone help me out with this problem?"
### Description

### Other Comments
Data set looks like this

	rating	userID	itemID
0	12	3468	3644
1	3	3816	3959
2	1	2758	2650
3	1	5056	1593
4	30	3029	192

When I run this cell in the notebook I got the following error

data = NCFDataset(train=train, test=test, seed=SEED)

Error:

---------------------------------------------------------------------------
TypeError

[2019-06-06 13:56] miguelgfierro opened #817 "[FEATURE] Create documentation of utilities with sphinx"

[2019-06-06 13:57] miguelgfierro opened #818 "[FEATURE] Publish the documentation in readthedocs"

[2019-06-06 14:01] miguelgfierro commented on #816
have you checked whether the types in your dataset and the types in movielens are the same?

FYI @AaronHeee

[2019-06-06 14:22] karthikraja95 commented on #816
Hey @miguelgfierro !

Thanks for the suggestion.

I checked the types in my dataset and its not as same as the movielens dataset. I changed the type to userID - numpy.int64, itemID - numpy.int64 and rating - numpy.float64 as it is in the movielens dataset, and I tried running the same code again, the error is still the same.

[2019-06-06 14:51] miguelgfierro commented on #816
mmmm

can you try to add a fake timestamp to see if that's the reason why it breaks?

[2019-06-06 15:08] karthikraja95 commented on #816
I don' think, thats the reason. Although I tested out like you said. Instead of adding the timestamp in my dataset, I dropped the movielens timestamp column and made it similar like my dataset. And ran the code. Its working properly for movielens dataset

[2019-06-06 15:44] gramhagen commented on #816
i believe this happens if the data has duplicate rating entries for the same user-item pairing.
you can check this with:
[code]
might be relevant for test as well?

[2019-06-06 15:53] karthikraja95 commented on #816
@gramhagen

Thanks for the suggestion. I checked out with the snippet that you shared.
So, It's true for all the cases even in movielens (train_ml, test_ml) and in my dataset(train_wol, test_wol) as well.

train_ml.groupby(['userID', 'itemID'])['rating'].count().max() == 1 --- True
test_ml.groupby(['userID', 'itemID'])['rating'].count().max() == 1 --- True
train_wol.groupby(['userID', 'itemID'])['

[2019-06-06 17:26] alex-zwingli opened #819 "[BUG] Broken README link: benchmark notebook"
### Description
The "benchmark notebook" link on the Recommenders README is broken (aka. goes to GitHub 404 Star Wars page).

### In which platform does it happen?
* Online

### How do we replicate the issue?
Click on "benchmark notebook" link under Algorithms > Preliminary Comparison.

### Expected behavior (i.e. solution)
Think link should go to the appropriate notebook.

[2019-06-06 17:53] gramhagen commented on #816
I think the other thing that can cause problems is if the userIDs are not common across train and test, you might check what the following look like to make sure you have the same number of users:
[code]

using python_stratified_split, could be a better way to handle this, often splitting randomly can lead to these kind of discrepancies that cause problems for the algorithms / evaluations

[2019-06-06 19:18] gramhagen commented on #819
Thanks @alex-zwingli! Put in a patch now, we'll roll it through staging and then to master.

[2019-06-06 21:35] yueguoguo commented on #818
May consider prioritizing this.

[2019-06-06 21:55] yueguoguo commented on #816
Hey @karthikraja95 can you check the data? The error seems to happen during the negative sampling of the testing dataset. In the codes of
[code]
where the row[`self.col_item + "_negative"]` may container only a single value, i.e., your item ID, thus it does not work because operand `-` does not support `float`  and `set`. The reason may be that there might be users that have seen all the items, so

[2019-06-06 22:52] karthikraja95 commented on #816
@gramhagen I tried those out, Like you mentioned its not same. Then I tried to split the data with python_stratified_split() and then printed the unique IDs

Unique IDs are not same in both train and test set . But now it WORKS... THANKS FOR HELPING OUT!

[2019-06-06 22:55] karthikraja95 commented on #816
@yueguoguo Thanks for the suggestion. The comment that you gave actually makes a lot of sense.
Right now its working with python_stratified_split(). I might definitely encounter this error, its better to find those users and filter out.

[2019-06-06 23:04] karthikraja95 commented on #816
Thanks ALL!  I am working on Autoencoder based Collaborative Filtering for Implicit Data. I want a working model to compare my results with. I thought NCF would be a good model to go to. Thanks for helping it work. Let me try to run all the cells that are provided with the notebook and then I will close this issue.

[2019-06-07 11:23] miguelgfierro commented on #819
fixed in #820

[2019-06-07 11:23] #819 closed

[2019-06-07 11:26] miguelgfierro commented on #816
hey @karthikraja95 I'm working on an autoencoder https://github.com/microsoft/recommenders/issues/526. The algo is ready, I just need to find some time to clean the code, and add the notebook. I'll push to staging soon

[2019-06-07 11:49] karthikraja95 commented on #816
@miguel-ferreira Perfect. I will take a look at it. Thanks for sharing.

[2019-06-07 11:59] miguelgfierro opened #822 "[FEATURE] Approximate Nearest Neighbours for Recommender Systems"
### Description

Add KNN for topk

Here there is a benchmark of KNN libs: https://www.benfrederickson.com/approximate-nearest-neighbours-for-recommender-systems/

### Expected behavior with the suggested feature

### Other Comments

[2019-06-07 14:47] miguelgfierro commented on #816
closing this, feel free to reopen in case there are more doubts

[2019-06-07 14:47] #816 closed

[2019-06-08 12:14] atimesastudios opened #824 "Using recommenders in my own codebase"
### Description
Looking for best practices on how to use recommenders and especially reco_utils with my own codebase. Do I simply clone the repo in a parallel directory and then reference reco_utils that way? I see #774 but until it is available via pip or conda, I'm not sure how best to do this.

### Other Comments

[2019-06-10 02:53] yueguoguo commented on #824
Hey @atimesastudios so far the recommended way to use `reco_utils` is to clone the repo and reference the utilities in `reco_utils` as modules in your Python own scripts/codes.

[2019-06-10 08:16] atimesastudios commented on #824
Thank you @yueguoguo

[2019-06-10 08:16] #824 closed

[2019-06-11 09:21] miguelgfierro opened #829 "[BUG] Update readme of o16n"
### Description

In the o16n readme https://github.com/microsoft/recommenders/tree/staging/notebooks/05_operationalize, we only have the als notebook. Two new notebooks that we did are missing.

Also, we added some content in the readme, which is not common to all the notebooks. Should we put this content in the als notebook?

Was it @yueguoguo who did this workflow https://github.com/microsoft/re

[2019-06-11 14:03] karthikraja95 commented on #816
Hey all!
I got into another small issue.

InternalError                             Traceback (most recent call last)
<ipython-input-14-7468dd49ffcf> in <module>
      9     learning_rate=1e-3,
     10     verbose=10,
---> 11     seed=SEED
     12 )

~\Desktop\recommenders\recommenders-master\reco_utils\recommender\ncf\ncf_singlenode.py in __init__(self, n_users, n_items, model_type, n_factors, la

[2019-06-11 18:35] gramhagen commented on #816
This can be caused by a discrepancy between versions of your CUDA driver and the CUDA toolkit, I would suggest updating the NVIDIA CUDA toolkit which should give you a compatible driver as well. FWIW, I believe we’ve been testing with version 9, (though 10.1 is the latest).

scott

From: Karthik Raja <notifications@github.com>
Sent: Tuesday, June 11, 2019 10:03 AM
To: microsoft/recommenders <recom

[2019-06-11 18:45] karthikraja95 commented on #816
@gramhagen Thanks for the feedback. I did updated my CUDA toolkit to 10.1 and now the code is working fine. Thanks

[2019-06-11 19:28] yexing99 opened #831 "[FEATURE] LibffmConverter input type"
### Description
When I use libffmconverter to do the conversion on movielens dataframe, userID and itemID are not converted correctly after using movielens.load_pandas_df . These two columns are loaded as int. I changed these two columns into string to make the converter work properly. We may need to mention that types of columns need to be "string" if they are categorical variables, in the readme

[2019-06-11 19:32] yexing99 opened #832 "[FEATURE] original data got changed after libffmconverter.transform"
### Description
Dataframe "data" is the input for libffmconverter, which I wanted to keep its value for investigation later one. This input dataframe 'data' changed into libffm format  after the conversion , which is not what I expected. It'll be better to keep the original dataframe 'data' with its original value so that users can compare the before and after conversion.
"converter = LibffmConver

[2019-06-12 07:22] yueguoguo commented on #831
@yexing99 it is mentioned in the docstring of the utility function [here](https://github.com/microsoft/recommenders/blob/89e922b2c8c90d25cc247bbc70ae44a7119b9afe/reco_utils/dataset/pandas_df_utils.py#L90) - the input columns should be either string or numerical indicating the variable are categorical or numerical, respectively.

[2019-06-12 07:23] yueguoguo commented on #832
@yexing99 are you using the latest version of the `reco_utils`? I fixed a bug in the previous version, where the transformation part takes effect on the original dataset, which is not desired as you have pointed out here.

[2019-06-12 07:26] yueguoguo commented on #829
Agree on moving the diagram to the upper level of the directory - it seems more suitable there as it is something general. Also, the plot may need to be updated somehow to reflect the updates of the repo.

[2019-06-13 13:53] yexing99 commented on #832
Which branch? I am using the reco_utils from master and staging branch.

[2019-06-13 16:40] gramhagen opened #836 "[BUG] Current env setup can fail at pip if dependencies are missing"
### Description
One of the pip packages depends on Bottleneck which when installed compiles c++ code, this fails on windows unless visual studio c++ binaries are installed and on linux if gcc is not installed. There is however a conda package for this which resolves these problems. We should move bottlneck to the conda packages so they can be installed properly prior to downstream pip packages bui

[2019-06-13 20:12] loomlike opened #838 "[Typo] Typo in SVD-hyperdrive notebook"
### Description
This is very tiny issue ;-)
At Section 3,

but the data are split into three sets, training / validation / testing.

Also would be good to describe where will the validation set be used -- to validate hyperparameter selections.

[2019-06-13 20:43] gramhagen commented on #832
ah, yeah I think the approach taken by sklearn is that transform returns a transformed version of the data without impacting the original dataframe.

example:
https://github.com/scikit-learn/scikit-learn/blob/7813f7efb5b2012412888b69e73d76f2df2b50b6/sklearn/feature_extraction/hashing.py

we will need to start a new dataframe starting at this point: https://github.com/microsoft/recommenders/blob/89

[2019-06-14 10:18] #838 closed

[2019-06-15 18:26] atimesastudios opened #842 "azureml_hyperdrive_surprise_svd notebook error"
### Description
Notebook throws an error when submitting the experiment.

### In which platform does it happen?
System version: 3.7.3 | packaged by conda-forge | (default, Mar 27 2019, 23:18:50) [MSC v.1900 64 bit (AMD64)]
Surprise version: 1.0.6
Azure ML SDK Version: 1.0.39

### How do we replicate the issue?
pull from origin/master
run the python notebook

Problem occurs here:
# Create an experi

[2019-06-15 18:29] atimesastudios commented on #842
[myenv.zip](https://github.com/microsoft/recommenders/files/3293418/myenv.zip)

[2019-06-16 08:05] yueguoguo commented on #842
Thanks @atimesastudios the issue is known after the recent update of AzureML Python SDK - that is, the `script_params` parameter of estimator should be string typed. The PR by @chenhuims in #840 is to fix the issue.

[2019-06-16 18:48] atimesastudios commented on #842
Thank you @yueguoguo and @chenhuims.

[2019-06-17 03:31] yexing99 commented on #831
![image](https://user-images.githubusercontent.com/25463584/59576700-a8027580-908e-11e9-90fa-f3fa4ac17b5f.png)

Another thing I've noticed is that with converting movielens data to libffm, the genres is mapped to a large number (e.g. 2626) , which supposedly less than 20.

[2019-06-17 17:18] yexing99 opened #843 "[FEATURE] libffmconverter on a list of multiple features within one field"
### Description

For genre types on movielens, one movie can have multiple genres. When movielens data was loaded and split by "|", for the field 'genres_string', some records contain multiple features as list . for example, [Comedy, Drama] or [Action, Comedy, Drama]. Our current libffm converter can't handle it.

### Expected behavior with the suggested feature
get distinct feature list from feat

[2019-06-17 17:22] yexing99 opened #844 "[FEATURE] E2E solution on real-time recommendation"
### Description
The current reference architecture on real-time recommendation is actually caching the batch processing recommendation. There were asks from MLADS audience and 7-Eleven about the real real-time recommendation architecture. For example, if VW is used for recommendation, how to design the e2e solution.
### Expected behavior with the suggested feature

### Other Comments

[2019-06-17 19:16] yexing99 opened #845 "[FEATURE] field_feature index should be reset for new field for libffmconverter"
### Description
The current field_feature index for each field is not reset. please see the figure below:
![image](https://user-images.githubusercontent.com/25463584/59630153-a7132780-9112-11e9-848e-39a3ff146967.png)

It should be reset for each field, something like:
1.00 1:21:1 2:1:1 3:5:1 4:70:1 5:4:1 5:5:1 5:6:1
0.00 1:21:1 2:1:1 3:5:1 4:70:1 5:2:1 5:3:1 5:17:1
1.00 1:21:1 2:1:1 3:5:1 4:70:1 5

[2019-06-17 19:46] #844 closed

[2019-06-18 09:17] yueguoguo commented on #843
Currently, the converter does not support this. It won't be hard to firstly melt a dataframe, and then apply the conversion. Alternatively, the original genres can be encoded with, for example, one-hot encoding scheme, before it is converted.

[2019-06-18 15:39] yexing99 commented on #843
YEs, unpivot and followed by some processing would be as a workround  but for one hot encoding,it may not work nicely. For example, [0 0 0 0 1 1 1 0 0 0 0] as an input to the converter, the output will be something like 5:1:0 5:2:0 5:3:0 5:4:0 5:5:1 etc. those zeros should be removed as the original inputs are actually category variables.

[2019-06-19 13:45] gramhagen commented on #777
Revisiting this, from looking at the script it seems like the final else clause should be catching the case where model_type == "FM", not the first case. Perhaps there's a discrepancy in your configuration where model_type and data_format are not both "FM"?

I will close it for now, but if this is still an issue let us know how to reproduce it.

[2019-06-19 13:45] #777 closed

[2019-06-19 13:56] gramhagen commented on #88
there are checks in SAR to generate issues if cold users are provided into the recommend methods. I don't believe this is an issue with any of our notebooks, so closing this for now.

[2019-06-19 13:56] #88 closed

[2019-06-19 13:57] gramhagen commented on #208
this has been addressed by #617

[2019-06-19 13:57] #208 closed

[2019-06-19 15:30] gramhagen commented on #750
sorry to take so long on this.

you need to be careful with -i, -f when specifying the model when using gd_mf_weights. Also I believe the [existing example](https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Matrix-factorization-example) on vw is no longer correct since the rank and interaction terms are stored in the model. Resulting in the errors you're seeing. My understanding is you should dro

[2019-06-19 17:42] szipkin commented on #750
Thanks, Scott. I did post on VW github and found that the issues had to do with versioning and bugs. https://github.com/VowpalWabbit/vowpal_wabbit/issues/1851
https://github.com/VowpalWabbit/vowpal_wabbit/issues/1871

[2019-06-24 19:27] karthikraja95 commented on #816
Hey all,

Isn there a way in the codebase to recommend top 10 items based on particular user ID and given a particular item ID?

Example
userID - 1001 and given some item ID (1234) , is there a way to get top 10 recommended items based on the UserId and ItemID

[2019-06-24 19:34] gramhagen commented on #816
the trained model has a predict method where you can provide a user and item, is that what you want?

It will only score that user-item pair though, so when you say you want top 10 recommended items for a user based on a single item, what does that mean? That the user has only rated one item?

[2019-06-24 19:37] gramhagen commented on #816
Also, it's easier to track questions / problems if they are separate github issues. Since this one is already closed and related to a different concern it would be helpful to generate a new issue if there is still a question. -Thanks!

[2019-06-24 20:01] karthikraja95 opened #849 "[ASK] How to get top 10 recommendations based on a userID and itemID"
Hey all!
@gramhagen

I know the trained model has predict function that will give a score for that user-item pair.

What I want to know is, If i give a userID say 1001 and a itemID ( say 1234 it might be a new purchase made by the usedID ). How do I incorporate the new itemID (1234) with userID (1001) and give top 10 recommendations i.e the top 10 items for that particular UserID - 1001  consideri

[2019-06-26 03:32] yueguoguo commented on #849
It looks like you are developing a collaborative filtering model for a user-to-item recommendation scenario? If so, in the first place a CF model cannot handle cold items, that is to say, your model can only generate top 10 items (ranked by the predicted scores) for the user (1001), which are existing in the previous interactions. Then if you want to incorporate the new item (1234) you need to put

[2019-06-26 16:59] karthikraja95 commented on #849
Thanks @yueguoguo . I am using NCF notebook and I wanted to implement/try the above mentioned feature. So there is no way I can do this without retraining the CF model?

Also thanks for suggesting content-based model, I will try DKN or VW model which was available in this repo

[2019-06-27 19:33] roalexan opened #852 "[BUG] unable to find papermill when running notebook on local Windows laptop"
### Description
When running the 00_quick_start/sar_movielens.ipynb notebook locally on a Windows PC, it fails, complaining that it can't find 'papermill'.

### In which platform does it happen?
Local Windows laptop.

### How do we replicate the issue?
Ran through the setup instructions on the home page (installed miniconda, added it to path, cloned repo, activated environment, started jupityr, an

[2019-06-27 21:49] karthikraja95 commented on #849
Another quick question? is there a way to recommend top 10 items for a particular user(1001) based on the users history? is there any inbuilt function available in this repo for this feature .

P.S.    I am using NCF deep dive notebook

[2019-06-28 11:44] #736 closed

[2019-07-03 22:58] loomlike opened #855 "[FEATURE] AzureML package version update"
### Description
AzureML's new APIs seem have some good changes (e.g. you can easily get previous Hyperparameter experiment run object by passing run-id only. Previously you have to pass all the configs etc.).

### Other Comments
That update may break some existing AzureML notebooks.

[2019-07-08 12:30] gramhagen commented on #849
@karthikraja95 this implementation of NCF doesn't have a method which will automatically return the top 10 items for a particular user, you will need to score all items for a user and sort them.

It would be possible to generate such a method, please feel free create a pull request if you end up developing some code that you think would be useful.

[2019-07-08 12:30] #849 closed

[2019-07-08 13:29] emnajaoua commented on #556
Hi everyone, I am trying to run the lightGBMClassifier with my own dataset but I am always facing this error: java.net.ConnectException: Connection refused (Connection refused). I have described very well my issue here : [https://github.com/Azure/mmlspark/issues/609](url)
I would be very grateful if someone could have a look on it !
Thank you in advance

[2019-07-08 13:37] gramhagen commented on #556
Hi @emnajaoua, let's track this issue in a single place. I think mmlspark is the right place for the discussion. I will add comments there.

[2019-07-08 14:01] gramhagen opened #857 "[FEATURE] Reduce unit test duration"
### Description
Current unit tests in notebooks are lengthy, need to investigate ways to reduce complexity or change parameters to speed up testing of notebooks.

Here are the current test durations (for any test longer than 1s)  for different configurations in order to prioritize efforts.

not vw and not spark and not gpu |  
-- | --
Duration | Test
155.85s | tests/unit/test_notebooks_python.py::

[2019-07-08 16:30] miguelgfierro commented on #817
related to https://github.com/microsoft/recommenders/issues/651

[2019-07-08 18:45] #836 closed

[2019-07-08 18:47] gramhagen commented on #852
This could also be related to #852. Is this error occurring with the latest version of staging or master?

[2019-07-08 18:52] gramhagen commented on #811
This has been addressed by #840

[2019-07-08 18:52] #811 closed

[2019-07-08 19:00] roalexan commented on #852
yes, looks related. It was as of last week - haven't tried since then. Has something changed to warrant trying it again?

[2019-07-08 19:00] gramhagen opened #858 "[BUG] SAR normalization leads to true_divide runtime warning"
### Description
Getting a division by zero warning when using SAR normalize on movielens dataset.

### In which platform does it happen?
Using staging version of SAR on Windows.

### How do we replicate the issue?
 repeat issue with following code:
[code]

generates the following warning
[code]

the result.shape[0] = 943 whereas test.shape[0] = 25008
so it looks like it is aborting calculation for

[2019-07-08 19:10] gramhagen commented on #852
well, something is different in staging vs master, but that didn't change in the last week. I was just curious which branch you had replicated the error in.

[2019-07-08 19:37] gramhagen commented on #843
@yexing99 in the example you provide, would the input be the same if the feature had a zero value or if it wasn't provided at all? That's how I thought the non-existent values were interpreted in LibFFM sparse format, but maybe I'm missing something here.

[2019-07-09 03:28] yueguoguo commented on #831
@yexing99 talked and explained offline - please reopen the issue if there is anything.

[2019-07-09 03:28] #831 closed

[2019-07-09 05:18] yueguoguo commented on #843
@yexing99 Yea fair point - an alternative is to directly encode the feature (i.e., each genre) within a row of the genre features to avoid zeros produced from a pre-encoding step.

@gramhagen usually, missing values would be interpreted as zeros, and in the libffm format we don't need to explicitly represent those zeros.

[2019-07-09 11:02] gramhagen commented on #843
It seems like there's a reasonable workaround. But this feature could also be included. How do you want to handle it @yueguoguo ?

[2019-07-09 14:19] loomlike commented on #842
This issue has been resolved by #840 and #847. Thanks!

[2019-07-09 14:19] #842 closed

[2019-07-09 14:29] miguelgfierro commented on #857
<img src="https://media.giphy.com/media/3oriNYQX2lC6dfW2Ji/giphy.gif" />

[2019-07-10 08:23] yueguoguo commented on #857
Looks like some Spark related notebooks take some time - I can help on that.

[2019-07-10 15:08] miguelgfierro commented on #753
@loomlike, I think this issue is finished right? Should we close it?

[2019-07-10 16:22] gramhagen commented on #857
That would be great, I think we can add paramters to the tuning notebook and als to just do one pass through the hyperparameters.

[2019-07-11 10:59] atimesastudios commented on #375
May we please also have guidance for FFM dataset preparation to feed xDeepFM, especially with integrating customer and item features into the input dataset along with implicit/explicit feedback.

[2019-07-11 17:41] atimesastudios opened #862 "[ASK] Help setting FEATURE_COUNT and FIELD_COUNT values in xDeepFM hyperparameter YAML"
### Description
I am trying to learn how to use the xDeepFM model. I've taken my data and converted it into FFM format, currently it looks like this.

rating	userID	itemID	 product_series	times_ordered	 quantity_ordered
3	      1:1:85532	2:2:62959	 3:9:1	                4:56:1	         5:57:12.0

Requesting help in setting the hyperparameters for xDeepFM based on the input dataset.
How do I set th

[2019-07-11 17:47] atimesastudios commented on #862
Trying the simplest example with an FFM structure like rating | customer_id | item_id where I set FEATURE_COUNT = FIELD_COUNT = 3 and I get this error message: InvalidArgumentError: Input to reshape is a tensor with 3830 values, but the requested shape requires a multiple of 30
	 [[node XDeepFM/Reshape (defined at ../../../recommenders\reco_utils\recommender\deeprec\models\xDeepFM.py:164) ]]

[2019-07-11 19:13] atimesastudios commented on #862
In looking at the libFFMConverter it appears that feature_count and field_count are attributes of the class that one can examine after transform. Since the examples to date all have pre-created datasets (synthetic and criteo_tiny) it is not clear how to set the hyperparameters. Perhaps this can be added as an example notebook for data prep and data transform.

[2019-07-11 20:46] atimesastudios commented on #862
converter = LibffmConverter().fit(data, col_rating='rating')
df_out = converter.transform(data)
df_out.head(5)

print(converter.field_count)
print(converter.feature_count)

Using the attributes field_count and feature_count, I was able to successfully run the model by using these in the YAML file.

[2019-07-11 20:46] #862 closed

[2019-07-12 01:29] gramhagen commented on #862
fwiw @yexing99 is working on a pr (#861) that might have a good example for what you're digging into

[2019-07-14 08:47] anargyri commented on #525
A github I saw related to knowledge graphs
https://github.com/SANSA-Stack

[2019-07-15 02:17] yueguoguo commented on #375
@atimesastudios yea we do have some preparation functions for this
* The `negative_feedback_sampler` (see [here](https://github.com/microsoft/recommenders/blob/f53d2639b0f41348a95aeaaa6da5514039e14c2a/reco_utils/dataset/pandas_df_utils.py#L262)) is the one that samples negative feedback when data is about implicit feedback.
* The `LibffmConverter` (see [here](https://github.com/microsoft/recommend

[2019-07-15 12:58] gramhagen opened #865 "[BUG] Both schema and header warning"
### Description
running
[code]
results in the following warning
[code]

note, no header information was explicitly provided here, the underlying methods seem to be in conflict with default values rendering a unnecessary warning

### In which platform does it happen?
everywhere (but this is a spark based method)

### How do we replicate the issue?
see description

### Expected behavior (i.e. soluti

[2019-07-15 13:29] gramhagen opened #866 "[BUG] Python random split sum to 1 error"
### Description
Python random split with multiple ratio options fails even when ratios sum to 1

### In which platform does it happen?
Python all OSs

### How do we replicate the issue?
[code]
yields
[code]

this occurs because sum([.7, .2, .1]) == .999999.... and there is a check in split_utils.py:39 which fails and renormalizes, subsequently split_utils:154 has the same check which also fails wh

[2019-07-15 13:47] yueguoguo commented on #866
Good catch. Will fix it.

[2019-07-16 18:13] loomlike commented on #753
@miguelgfierro Our data splitter utils are still using a default seed argument `42`. I think we should use `None` for default instead. What do you think?

[2019-07-17 11:09] miguelgfierro commented on #753
yeah definitely we should

[2019-07-18 20:00] #817 closed

[2019-07-18 21:00] atimesastudios opened #868 "RBM - how to get the affinity matrix from item_back_dict and user_back_dict"
### Description
I am trying to implement AzureML Hyperdrive based hyperparameter tuning of the RBM algorithm using example notebooks. I have a working RBM notebook with my dataset and I am using svd_training.py as an template for building my rbm_training,py file. As part of the RBM process an affinity matrix is created and the training and test set is built from the stratified sampler.  I looked a

[2019-07-19 03:04] yueguoguo commented on #868
Add @WessZumino for advice.

[2019-07-19 06:27] WessZumino commented on #868
@atimesastudios let me see if I got your question right: you create the user/affinity (UA) matrix (for train and test sets) locally on your machine and then upload these on your remote DSVM for training (or hyper parameter tuning). After training, you would like to get back the pandas df format from the UA-matrix in order to use the ranking metrics.

Yes, in the current version of sparse.py the lo

[2019-07-19 07:54] miguelgfierro opened #869 "[FEATURE] Consider adding multiplicative LSTM"
### Description

See whether it makes sense to add this algorithm https://florianwilhelm.info/2018/08/multiplicative_LSTM_for_sequence_based_recos/

### Expected behavior with the suggested feature

### Other Comments

[2019-07-19 16:58] atimesastudios commented on #868
Thanks @WessZumino, I appreciate the addition of the load feature in sparse.py. In the meantime I will follow your advice.

[2019-07-19 17:03] atimesastudios commented on #862
Thank you @gramhagen

[2019-07-19 17:59] atimesastudios commented on #868
@WessZumino,
predict takes two arguments, but the second one doesn't seem to get used. The documentation string only contains information about x.

def predict(self, x, maps):

[2019-07-21 22:06] miguelgfierro opened #871 "[BUG] in load_spark_df"
### Description

[code]

### In which platform does it happen?

### How do we replicate the issue?

### Expected behavior (i.e. solution)

### Other Comments

[2019-07-21 22:07] miguelgfierro commented on #871
hey @loomlike, do you think this is related to the latest changes in the headers?

[2019-07-22 02:29] yueguoguo commented on #869
It would be great to have a sequence based reco algorithm. Noting that this implementation is based on Spotlight and there is a base implementation of sequence-based reco, maybe we can start from there?

[2019-07-22 04:09] zoewang1989 opened #872 "[BUG] NNI issue in conda env creation"
### Description
There is one problem when the process of conda env create, pip install nni error, the detail error snapshot as follow:
Pip subprocess error:
  ERROR: Could not find a version that satisfies the requirement nni==0.5.2.1.1 (from -r /Users/zoewangcn/Projects/recommenders/condaenv.pdwnjard.requirements.txt (line 17)) (from versions: 0.7.1, 0.8.1, 0.9.1, 0.9.1.1)
ERROR: No matching dist

[2019-07-22 06:39] yueguoguo commented on #872
Add @scarlett @anargyri @miguelgfierro for visibility.

[2019-07-22 09:50] miguelgfierro commented on #872
Not sure if this is a problem with nni on Mac. Can you install any version of nni?

If that works, can you try to install from source?
[code]

If any of this work, I would consider talking with nni folks directly

[2019-07-22 09:51] miguelgfierro commented on #869
that make sense

[2019-07-22 10:51] scarlett2018 commented on #872
@zoewang1989 - this probably related to a recent pipeline issue, we are working on it, will update the thread with status later. cc @chicm-ms

[2019-07-22 14:18] #865 closed

[2019-07-22 14:21] loomlike commented on #871
I'll take a look

[2019-07-22 14:29] gramhagen commented on #872
It looks like Windows support has been added in later releases. @scarlett2018 should we move to a more recent version? Are there breaking changes from the version we have now we should be aware of?

[2019-07-22 15:33] anargyri commented on #858
@gramhagen This warning should appear when dividing 0 by 0 (and not if you divide nonzero by 0). Therefore, probably what happens is that for some user u, all the rated items have similarity equal to 0 with a specific item i. E.g. i has no co-occurrence with the user's items.
I propose we set the score to -infinity in such cases, since user u is not connected in any way to item i in the training d

[2019-07-22 20:40] #871 closed

[2019-07-23 08:53] tandav opened #875 "[ASK] SAR: use order history instead of user history"
### Description
I want to make recomendations for shopping-cart/product-basket/ [complementary-item-recommendations](https://www.ebayinc.com/stories/blogs/tech/complementary-item-recommendations-at-ebay-scale)

User adds some items to cart and I need to recommend more items to buy with that set of items.

I have list of orders, each containing some items that were bought together.

I want to use S

[2019-07-23 09:39] yueguoguo commented on #875
Sounds like an "item-to-item" recommendation scenario. Do you want to use the item similarity matrix to do that?

Does this mean that you don't want to "recommend items to users"?

The current implementation of SAR accounts for the co-occurrence of user-item pair to generate the affinity score. See [deep dive notebook](https://github.com/microsoft/recommenders/blob/master/notebooks/02_model/sar_de

[2019-07-23 10:08] tandav commented on #875
yes, I want to use item similarity matrix (using  [`get_item_based_topk`](https://github.com/microsoft/recommenders/blob/master/reco_utils/recommender/sar/sar_singlenode.py#L348))

yes, I just need to find similar items to items in shopping cart

The reason why I want to train SAR on order history instead of user history is because

but in my case co-occurrence should be defined as "number of time

[2019-07-23 12:15] gramhagen commented on #875
creating 'users' which are actually unique orders sounds reasonable. i don't see any drawback to using this approach other than the existing memory limitations with using SAR on very large sets of items.

one basic aspect of SAR is to calculate a user preference which can weight the final recommendation, but if you're just get item-based recommendations that won't be used, so the results might be

[2019-07-23 13:08] anargyri commented on #872
Keep in mind that a couple of minor changes are required for one of the tuners if we move to a newer version.

[2019-07-24 03:11] scarlett2018 commented on #872
@gramhagen @anargyri - we had a new Mac build ready for this issue. @chicm-ms might add more details.

@gramhagen - For the other question about breaking changes, since the v0.5.2.1.1 is a fairly old version, there are some changes might impact you (multiphase feature, annotation features). So, does it make sense that you try the latest version in a branch, and we can standby to help?

[2019-07-24 07:38] chicm-ms commented on #872
@zoewang1989  nni v0.5.2.1.1 has been built for MAC, you can retry now.

[2019-07-25 10:47] miguelgfierro commented on #872
Do you think if we have a 30min meeting with you guys we could finish the upgrade to the new version and the needed changes in recommenders?

[2019-07-25 11:20] scarlett2018 commented on #872
@miguelgfierro - sure thing, go ahead book our time =).

[2019-07-25 13:21] #651 closed

[2019-07-25 13:21] miguelgfierro commented on #818
https://docs.readthedocs.io/en/stable/webhooks.html

[2019-07-25 13:55] loomlike commented on #683
@miguelgfierro TF already released 1.14 lol... and I discussed with @gramhagen about the version. We think it makes sense to just stick with the current version we have for now (1.12) since nothing has been broken nor are buggy. Also not very exciting features in .13 and .14 for us.

So we will wait until 2.0 officially released. Is that make sense?

[2019-07-26 07:48] yueguoguo commented on #866
Resolved in #874 and validated in #876

[2019-07-26 07:48] #866 closed

[2019-07-26 10:17] miguelgfierro commented on #683
yeah that makes sense

[2019-07-26 10:17] miguelgfierro commented on #683
Closing this, feel free to reopen if needed

[2019-07-26 10:17] #683 closed

[2019-07-26 20:22] ghost opened #878 "[FEATURE] Model save in RBM"
### Description
Add feature to allow the RBM model to save itself to disk.

### Expected behavior with the suggested feature
RBM encapsulates the tensorflow details within its implementation. It would be nice to have the code to save the trained model to disk so that tensorflow.utils and other modules do not have to be imported into the scripts that create the RBM instance.

something like:

rbm_m

[2019-07-29 18:41] miguelgfierro opened #880 "[BUG] in integration test of wikidata"
### Description

[code]

@almudenasanz please check when you are available

### In which platform does it happen?

### How do we replicate the issue?

### Expected behavior (i.e. solution)

### Other Comments

[2019-07-31 12:50] miguelgfierro commented on #880
hey @almudenasanz, there is another error in the same test:
[code]

[2019-07-31 12:50] gramhagen opened #885 "Incorporate VW python bindings from anaconda]"
### Description
VW is now installable via anaconda (for linux), installing from this should provide a more portable solution and will have a path towards windows support as that is added.

### Expected behavior with the suggested feature
leverage python vw wrapper directly in vw example notebook

### Other Comments

[2019-07-31 13:08] almudenasanz commented on #880
Totally normal, I was not exporting the right variable for the assert. Just did a PR

[2019-08-01 12:05] miguelgfierro commented on #880
hey @almudenasanz

[code]

can you take a look?

[2019-08-01 12:07] miguelgfierro commented on #885
<img src="https://media.giphy.com/media/AuwBPJztsEWkw/giphy.gif" >

[2019-08-01 12:50] almudenasanz commented on #880
Seems related to this tqdm issue: https://github.com/tqdm/tqdm/issues/780

[2019-08-01 12:52] almudenasanz commented on #880
I will avoid using tqdm in the notebook until the issue is resolved

[2019-08-02 16:30] karthikraja95 opened #892 "[ASK][HELP] python stratified split"
Is there a way to split using both item and user in python_statified_split function instead of either using 'user' or 'item'

train_auto, test_auto = python_stratified_split(data_1m,filter_by="item",min_rating=5,ratio=0.80)

I want to split the test and train set, with the same user and items with min_rating of 5

Any help would be appreciated.

Thanks

[2019-08-04 19:53] yueguoguo commented on #892
@karthikraja95 does it help if we do stratification on either user (or item) to generate the data splits, and then get the intersection of items (or users) in the two splits, which is then used to subset the train and test with only those interacted items appearing in them. This can make the user-item matrix identical to both training and testing sets, that is, stratification on both user and item

[2019-08-04 19:54] yueguoguo commented on #875
@tandav checking if the problem has been resolved?

[2019-08-04 21:04] tandav commented on #875
Yes, thanks for help, closing the issue.

[2019-08-04 21:04] #875 closed

[2019-08-05 09:17] miguelgfierro commented on #880
@almudenasanz :-)

[code]

[2019-08-05 10:16] miguelgfierro commented on #525
today, after a meeting with Jianxun, we discussed that we can create something similar to a news dataset, by merging Movielens with the text summary of the movie.

cc @almudenasanz @leavingseason

[2019-08-05 16:09] atimesastudios commented on #878
Bumping my original post - is there any way to save the RBM model similar to the implementation of Wide Deep? If someone could provide some tips on how to get started, it would be much appreciated.

[2019-08-05 16:20] atimesastudios commented on #878
@WessZumino - I've implemented Azure HyperDrive hyperparameter optimization for RBM using the Surprise and Wide Deep hyperdrive notebook examples. I'm looking for tips on how to save the best model so that I can use it later for scoring. Any guidance would be much appreciated

[2019-08-06 06:48] almudenasanz commented on #880
I cannot reproduce this, very time I run the notebook locally I get the 5 results. I will do a commit changing the movie titles, to see if it could be related

[2019-08-07 12:21] miguelgfierro commented on #880
hey @almudenasanz

there is an error now in the unit test:
[code]
do you know what might be happening?

[2019-08-07 12:35] atimesastudios opened #896 "[ASK] Azure ML Compute based on algo and users / item size"
### Description
I'm trying to run RBM on a problem with about 20K users and 40K items. Is there a way to quickly figure out what type of Azure Machine Learning Compute I would need to handle this size of problem, especially for the GPU. I can run this on an Standard NC12 on the CPU, but when I try to run it with the GPU I get an OOM error or the run fails with the last log entry somewhere deep in

[2019-08-07 13:07] almudenasanz commented on #880
Seems like the request for the description has failed, but I was not able to reproduce it locally. I added in the function a try/except for that case.

The last issue and this one seem like issues with the requests, like we are getting less responses than expected. But I'm not able to reproduce them locally

[2019-08-08 13:19] miguelgfierro commented on #880
[code]
it looks we are hitting this error again. Could it be that there is a query that is not giving back any result? maybe you could debug to see whether we are always returning these movies:
[code]
I'll be away for 2 weeks, if you need anything, please contact @gramhagen

[2019-08-08 15:29] atimesastudios opened #898 "[ASK] WideAndDeep - ValueError: Cannot create a tensor proto whose content is larger than 2GB."
### Description
My work is based on Wide-and-Deep Model Hyperparameter Tuning with AzureML.
I am running hyperparameter tuning on the Wide and Deep algorithm on a problem with about 11000 users and 36000 items, 164000 ratings on an Standard NC12 dedicated Azure. I am running in CPU mode with 118GB of RAM (I run out of memory on the 2 GPU 11GB/per GPU compute instance). In this particular tuning ex

[2019-08-08 17:13] atimesastudios commented on #898
notebooks/04_model_select_and_optimize/azureml_hyperdrive_wide_and_deep.ipynb
In this file it looks like the implementation chunks the ranking_pool, the author comments:

However, in **notebooks/00_quick_start/wide_deep_movielens.ipynb**, it looks like the implementation
attempts to predict the ranking_pool one-shot, **this is where I get the 2GB limit error.**

The implemention needs to be change

[2019-08-13 15:07] loomlike commented on #898
Thanks for the feedback! I will take a look at this issue and see the best way to handle this, including looking into newer tf version.

[2019-08-13 17:30] loomlike commented on #896
I'm wonder what's the batch size are you using? I guess the best way to estimate is to do a simple back-of-the-envelope calculation. E.g. in RBM, the model size will be roughly:
nun-visible-nodes * num-hidden-nodes * weight value size (biases can be ignored)
= 40k (your items) * 100 (your hidden nodes) * 32bit (float32) = 16MB

+ your input data batch = batch-size * num-hidden-nodes * input value

[2019-08-14 00:41] atimesastudios commented on #896
Thank you @loomlike for responding with some tips. My batch size is high, around 980 and about 2000 hidden nodes to get to an NDCG of 60%. I will experiment with lower values for batch size and hidden nodes and report back.

[2019-08-14 00:45] atimesastudios commented on #898
@loomlike - Thank you for looking into this, much appreciated. Please let me know if I can be on any assistance.

[2019-08-15 13:57] gramhagen opened #900 "[BUG] Update lightgbm operationalization to remove ACI references"
### Description
Review operationalizing notebook for lightgbm to drop aci references in favor of aks

[2019-08-22 13:41] gramhagen opened #903 "[FEATURE] Add rating metrics from normalized SAR"
### Description
Updates to SAR now support rating results, this allows us to update the benchmark results with rating metrics for SAR.

### Expected behavior with the suggested feature
Updated benchmark table on main readme

### Other Comments

[2019-08-24 16:10] miguelgfierro opened #904 "[FEATURE] Evaluate flaky"
### Description

I recently discovered [flaky](https://github.com/box/flaky).  It might be interesting to see whether this is useful to us

Description from page: https://docs.pytest.org/en/latest/flaky.html
Flaky tests
A “flaky” test is one that exhibits intermittent or sporadic failure, that seems to have non-deterministic behaviour. Sometimes it passes, sometimes it fails, and it’s not clear wh

[2019-08-24 16:10] miguelgfierro commented on #904
FYI @anargyri @gramhagen @yueguoguo @loomlike

[2019-08-27 05:39] yueguoguo commented on #904
This looks interesting and useful.

[2019-08-27 14:19] anargyri commented on #904
They sent an email recently about functionality that handles flaky tests, such as
https://docs.microsoft.com/en-us/azure/devops/pipelines/test/flaky-test-management?view=azure-devops#enable-flaky-test-management

[2019-08-29 12:49] zegerius opened #907 "[FEATURE] Improve performance of score() in SAR"
### Description
Every time the SARSingleNode.score(**) is called for a list of users, it actually calculates the scores for all users. In our training-set of nearly .5M rows the dot product of the 'User Affinity'-matrix and 'Item Similarity'-matrix takes roughly 5+ seconds. The sizes of these matrices are respectively (23009, 17262) and (17262, 17262). This is too slow when calculating recommendat

[2019-08-30 05:45] yueguoguo opened #908 "[FEATURE] xlearn best practice"
### Description
[`xlearn`](https://github.com/aksnzhy/xlearn) is one of the popular packages that support building FM model in an efficient way. It would be great to have best practices shared in the repo

### Expected behavior with the suggested feature

### Other Comments

[2019-08-30 05:47] yueguoguo commented on #907
This is indeed something useful to have. Thanks @zegerius

Add @maxkazmsft who is the original author for visibility and awareness.

[2019-08-30 07:52] zegerius commented on #907
Thanks @yueguoguo.

@Overv and I started working on a fix. Our first version still fails some tests for removing seen items, but the performance without removing seen items went to 33ms (99.4% improvement).

[2019-08-30 09:28] yueguoguo commented on #907
@zegerius great to know. What is the detailed failure for tests in removing seen items?

[2019-08-30 12:02] Overv commented on #907
@yueguoguo We've changed the code to select just the slice of the user affinities matrix that corresponds with the users that we actually want to predict. However, this new "incomplete" matrix makes it harder to use the existing logic/maths for removing seen items from it.

[2019-08-30 17:30] gramhagen commented on #907
that's great, yeah this is why it's remained a todo for so long =)

the approach that was in my head was to construct a sparse matrix (of -np.infs) for the seen items of the same size as user_affinity, then you could slice it the same way you are slicing user_affinity for relevant users and that to the score matrix.

[2019-09-02 22:05] miguelgfierro commented on #818
MMLSpark folks just have an automated process where they push the document to a blob: https://github.com/Azure/mmlspark/blob/671b68892ace5967e60c7a064effd42dd5a21ec7/build.sbt#L89

This is the final result: https://mmlspark.blob.core.windows.net/docs/0.18.1/pyspark/modules.html

[2019-09-03 09:45] rogerrojur opened #911 "[BUG]"
### Description
Py4JJavaError                             Traceback (most recent call last)
<ipython-input-11-d62d244977dc> in <module>
      9 )
     10
---> 11 data = movielens.load_spark_df(spark, size=MOVIELENS_DATA_SIZE, schema=schema)
     12 data.show()

D:\tuijian\Recommenders\reco_utils\dataset\movielens.py in load_spark_df(spark, size, header, schema, local_cache_path, dbutils, title_col

[2019-09-03 09:56] gramhagen commented on #911
Is this the entire error message generated? Usually there's a section indication the type of error. Running a single node spark instance on Windows can be a little tricky so there could be a few things going on. Any additional output will help Barrow it down.

[2019-09-03 09:59] gramhagen commented on #818
That sounds great and looks the same as rtd, let's do it.

[2019-09-03 14:04] miguelgfierro opened #913 "[FEATURE] Reduce the size of the repo removing historic files"
### Description

The repo growed very big due to the binary files added by the mobile app:
[code]
the files are these:
[code]

### Expected behavior with the suggested feature

### Other Comments

[2019-09-03 14:47] gramhagen commented on #913
there's a new repo we will hopefully be able to put the mobile app work into, but need to sort that out. hoping to have some resolution today or tomorrow. if i can't get a quick answer on that we can pull this stuff out and I will keep it somewhere safe until we know what to do with it

[2019-09-04 07:56] yueguoguo commented on #913
We used to have similar issue and this [tool](https://rtyley.github.io/bfg-repo-cleaner/) is used.

[2019-09-05 07:05] miguelgfierro commented on #913
@gramhagen, is the app code saved so we can remove the binary files from the history?

[2019-09-05 21:50] gramhagen commented on #913
Yep. You can clear it out. I have deleted the branches already

[2019-09-09 10:54] miguelgfierro opened #919 "[BUG] error with tqmd and pandas"
### Description

[code]

### In which platform does it happen?

### How do we replicate the issue?

### Expected behavior (i.e. solution)

### Other Comments

[2019-09-09 15:27] miguelgfierro commented on #913
I tried the program that @yueguoguo suggested, these are the steps I followed. I used a new repo to make sure it works first. Here the steps for reference:
[code]
[code]

[2019-09-09 16:20] miguelgfierro commented on #913
This worked:
[code]
Now the size of the repo is
[code]

[2019-09-10 14:08] #880 closed

[2019-09-10 14:18] miguelgfierro commented on #913
Just by completing this process in staging and then merging to master, the problem was solved. Now the size of the repo is much lower:
[code]

[2019-09-10 14:18] #913 closed

[2019-09-10 15:22] #818 closed

[2019-09-14 06:42] #907 closed

[2019-09-16 15:28] tqtg opened #931 "[FEATURE] Consider adding BPR model with a tutorial"
### Description

`Bayesian Personalized Ranking (BPR)` is a well-established model for implicit feedback. I would like to contribute a tutorial using `BPR` model with the usage of Cornac library @ https://github.com/PreferredAI/cornac

### Expected behavior with the suggested feature

### Other Comments

[2019-09-16 15:34] gramhagen commented on #931
Definitely agree. Would love to see your contribution. Putting it as a notebook in the  notebooks/02_model section. You can add that as a dependency to the conda environment to support this.

[2019-09-17 21:00] #919 closed

[2019-09-17 21:12] miguelgfierro commented on #931
hi @tqtg, it would be nice to have your contribution. Ideally, what we are doing with other algos is to use our [dataloaders](https://github.com/microsoft/recommenders/blob/master/reco_utils/dataset/movielens.py#L143) and [splitters](https://github.com/microsoft/recommenders/blob/master/reco_utils/dataset/python_splitters.py#L19).

Then with that data we will put it into your model. Normally we wi

[2019-09-18 03:54] tqtg commented on #931
Thank you for your instructions @miguelgfierro !
I'm working on my PR and will seek your suggestions when I have the first draft.

[2019-09-18 13:41] loomlike commented on #892
I'm closing this issue as it has been inactive for over a month. If needed, please feel free to reopen it.

FYI, see related discussion at [StackOverflow](https://stackoverflow.com/questions/45516424/sklearn-train-test-split-on-pandas-stratify-by-multiple-columns).

[2019-09-18 13:41] #892 closed

[2019-09-18 15:45] loomlike commented on #822
@gramhagen I can add item, user knns If you're not working on this

[2019-09-18 20:35] gramhagen commented on #822
yeah go for it, I haven't had much time to work on anything honestly. were you thinking of doing approximate or exact knn?

[2019-09-19 07:45] miguelgfierro commented on #822
In the link I added there is a comparison between different libraries for knn and a paper by Noam is cited. Maybe it would be good to ask him for some advice on what library to use

[2019-09-19 09:43] loomlike commented on #822
@miguelgfierro  Checked a couple of options and probably `faiss` will be the best fit (in terms or ease of install + license). Will check Noam as well.

[2019-09-19 09:56] loomlike commented on #822
@gramhagen approximate. RAPIDS also has knn based on faiss working on multi-gpu. That could be another option.
Btw, faiss doesn't support sparse vector. For large-size data, we should consider other options...

[2019-09-19 15:16] gramhagen commented on #822
rapids sounds good. Also, @mdekstrand mentioned the knn implementation in [Python LensKit](https://github.com/lenskit/lkpy)  is significantly optimized to allow it to scale to fairly large datasets, so that's probably a good place to start.

[2019-09-23 10:50] miguelgfierro commented on #449
this is fixed

[2019-09-23 10:50] #449 closed

[2019-09-23 10:50] miguelgfierro commented on #450
@bethz finished this

[2019-09-23 10:50] #450 closed

[2019-09-23 10:52] miguelgfierro commented on #277
not needed anymore

[2019-09-23 10:52] #277 closed

[2019-09-23 10:52] #425 closed

[2019-09-23 10:54] #857 closed

[2019-09-23 10:56] miguelgfierro commented on #815
already in https://github.com/microsoft/recommenders/tree/master/tests

[2019-09-23 10:56] #815 closed

[2019-09-24 06:10] yueguoguo opened #939 "[BUG] Smoke test failure because of run_cell module in papermill"
### Description
Running of smoke test failed because `run_cell` in `nbconvert` has been added with a new argument that breaks `papermill`. Discussion from other developers of this issue can be also found [here](https://github.com/nteract/papermill/issues/410).

The problem can be fixed if upgrading `papermill` to version >1.0. However, this will lead to another issue where the method `record` is n

[2019-09-24 06:12] yueguoguo commented on #939
@miguelgfierro @gramhagen do we want to use `scrapbook` instead - it is used in NLP repo.

[2019-09-24 06:57] miguelgfierro commented on #939
+1 to using scrapbook

[2019-09-24 06:57] miguelgfierro commented on #939
related to https://github.com/microsoft/recommenders/issues/641

[2019-09-25 07:17] yueguoguo commented on #939
Fixed version of `nbconvert` and `papermill` to resolve the issue.

Reopen the issue when `scrapbook` is being developed.

[2019-09-25 07:17] #939 closed

[2019-09-25 09:10] yueguoguo opened #942 "[BUG] Readthedoc build was successful but in the build there were some issues"
### Description
Some of the content in the readthedoc documentation is not rendered. For example, many of the dataset utilities are not presented. See below

![image](https://user-images.githubusercontent.com/1726448/65586641-107ac000-dfb7-11e9-8cbd-f33d27479c1e.png)

I rerun the build on the readthedoc project, and the build can be successfully run. However, if we take a look at the details in th

[2019-09-25 09:29] miguelgfierro commented on #942
I'll take this one

[2019-09-26 11:55] tqtg commented on #931
Since we already have `BPR` model, I would like to add it to the benchmark notebook. Is it something we are interested in?

[2019-09-26 12:10] miguelgfierro commented on #942
it looks that for being able to generate the conda file we need to add a process like this one: http://www.sphinx-doc.org/en/master/extdev/appapi.html#sphinx-core-events

[2019-09-26 12:46] gramhagen commented on #931
yes, definitely. I'll add a separate issue so we can close this out.

[2019-09-26 12:46] #931 closed

[2019-09-26 12:47] gramhagen opened #943 "[FEATURE] Add BPR benchmark results"
### Description
Add BPR results to benchmark table

@tqtg

[2019-09-28 21:44] loomlike opened #945 "[TYPO] SAR quickstart notebook section numbers are incorrect"
### Description
SAR quickstart notebook section numbers are incorrect.

Specifically, the number jumps after Section 2.2 to 5
`5. Evaluate how well SAR performs`

[2019-09-30 14:48] atimesastudios opened #947 "[ASK] In wide and deep, how to add more than one item/user feature?"
### Description
Request for how to use build_feature_columns() in wide_deep_utils.py when using item and or user features.

### Other Comments
The example notebooks use the genre column from the MovieLens database. Please provide an example of how to use item_feat_col and item_feat_shape if we want to use more than one feature column from item and/or user information.

[2019-09-30 14:54] atimesastudios commented on #898
Hi @loomlike  - any thoughts on this?

[2019-10-01 17:14] #943 closed

[2019-10-04 14:44] tqtg opened #951 "[FEATURE] BPR quick start notebook"
### Description

Should we have a simplified version of the BPR deep dive notebook in `00_quick_start`?
If yes, I can create a PR on this.

### Expected behavior with the suggested feature

### Other Comments

[2019-10-04 23:49] gramhagen commented on #951
It's not necessary to cover all algorithms in both model and quickstart. We probably have more than is needed in quickstart anyway =).

Are there other algorithms that we can easily include from cornac? One common baseline in particular is SLIM. That would be nice to include.

[2019-10-05 04:26] tqtg commented on #951
I see. Unfortunately, we haven't covered SLIM in Cornac yet :)
Another simple baseline we could have is `Non-Negative Matrix Factorization (NMF)`, or even the simplest `Most Popular Items` (not personalized) for testing/benchmarking purposes.

In addition, Cornac covers quite a few content-based models. I will consider contributing one of them at some point ^^

[2019-10-05 16:17] loomlike commented on #898
@atimesastudios Sorry, I was busy for doing other stuffs. Regarding this, I will take a look over the weekend!

[2019-10-05 17:05] loomlike opened #952 "[DISCUSSION] Deep-learning model and GPU environment"
### Description
We had a good discussion about deep-learning models on GPU tests (#436),
and as a result, we are testing such models only on GPU.

However, we still have the deep-learning packages (e.g. tensorflow) at the base environment where the codes that uses those packages are not being tested. Should we remove deep-learning packages from the base environment too?

[2019-10-05 17:48] #951 closed

[2019-10-05 22:10] loomlike opened #953 "[FEATURE] TensorFlow 2.0"
### Description
tf2.0 has released. It has some breaking changes from v1.xx. I'm testing the new API and updating tf_utils and models.

### Expected behavior with the suggested feature
To use v2.0, `import tensorflow as tf`. For v1.xx codes, use `tf.compat.v1` module or simply `import tensorflow.compat.v1 as tf`.

To disable v2.0 behavior (e.g. the new eager execution), run `tf.compat.v1.disable_v

[2019-10-06 00:37] loomlike commented on #947
Easier path is to make a feature vector `np.array(np.float32)` that includes all the features just like how we make a feature vector for classification or regression problems. In your case, both user-features and item-features into the same np.array. Then put that array to a column and pass the column as `item_feat_col`.

If you want to keep those two features in separate columns for some reason,

[2019-10-06 00:44] loomlike commented on #952
found some people use those models on cpu (#898)... then the question is, do we want to test deep learnings on cpu? ....

[2019-10-07 00:55] atimesastudios commented on #947
Thank you @looklike, that is a very helpful explanation and I will try it immediately.

[2019-10-07 00:55] #947 closed

[2019-10-07 02:48] yueguoguo commented on #952
I think there is a possible scenario where people use TF or other packages for DL algorithms for prototyping and experimenting in an environment without a GPU device. In that case, the base conda env does not block users from doing such before they move to a machine with GPU for acceleration.

[2019-10-07 10:52] gramhagen commented on #952
Maybe adding a flag and documentation on how to opt out of the DL packages when building the conda end would be useful? I don't think we need extra testing for the CPU environment unless there are explicit issues we are seeing.

[2019-10-07 17:14] miguelgfierro commented on #952
Agree

I think testing only in GPU environment is reasonable, the perfect thing would  be to have a 100% coverage, but I think we can assume that if something works on GPU, it will work on CPU. Under this assumption we are trusting the tests of TF or Pytorch on cpu

[2019-10-07 17:40] loomlike commented on #952
Got it. Thanks for the discussion!

[2019-10-07 17:40] #952 closed

[2019-10-07 17:50] loomlike commented on #898
@atimesastudios chunking dataframe into smaller dataframes is a temporal workaround as the tf exported model accepts Examples object and input_fn_for_exported_model puts all the samples into the object which is prone to cause tensor size > 2GB.

I think you should be able to control the error by decreasing your batch-size.

At the same time, I'm working on moving tf model save-load behavior in our

[2019-10-07 17:51] loomlike commented on #945
Thanks for the quick fix!

[2019-10-07 17:51] #945 closed

[2019-10-07 21:40] atimesastudios commented on #898
Thank you @loomlike, I will run smaller batch sizes and give it a try.

[2019-10-17 08:23] yueguoguo opened #956 "[BUG] pip install does not work"
### Description
By following the instructions [here](https://github.com/microsoft/recommenders/blob/master/SETUP.md), the pip install operation is successful but the package installed cannot be imported. The issue was reported [here](https://github.com/microsoft/recommenders/pull/851#discussion_r311445617) in the PR #851 but the solution does not resolve the issue.

Tried putting `setup.py` under

[2019-10-17 08:24] yueguoguo commented on #956
@gramhagen not sure if it is something to do with `subdirectory` functionality of pip install from github, but putting the `setup.py` under root directory of the repo solves the problem.

[2019-10-17 12:40] karthikraja95 opened #957 "[ASK] [HELP] NCF Notebook train loss graph"
I am using NCF deep dive notebook, I am just wondering is there any way to plot the train loss graph ? is there any inbuilt function to plot this?  If not can you tell me how to do it?

Any help is appreciated.

Thanks
K

[2019-10-17 15:47] gramhagen commented on #956
ok, yeah this simplifies the install from git too. should be fixed now.

[2019-10-19 20:43] Beheshtian opened #960 "[ASK] NCF results are less than the original paper"
### Description

Hi
The NCF results are less than the original paper.
I tested 1M MovieLens dataset and the HR and NDCG results are lower than the results in the paper.
What is the problem?
tnx
### Other Comments
recommenders/notebooks/02_model/ncf_deep_dive.ipynb

[2019-10-19 22:47] micaleel commented on #960
For starters, that notebook (i.e. `recommenders/notebooks/02_model/ncf_deep_dive.ipynb`) uses a chrono split with 75% of the dataset used for training. In the paper, the used a leave-one-out protocol.

It would help to use the right hyper-parameters to get the results reported in the paper.

[2019-10-20 08:24] Beheshtian commented on #960
thanks for your  kindly response micaleel.
but in the section (3.4.3 "Leave-one-out" Evaluation) the leave-one-out protocol has been used and the HR ratio for MovieLens 1M is 0.52 but in the paper the HR is 0.68 .
I also set the  hyper-parameters according to the paper.
I hope you'll be in touch again soon

[2019-10-24 13:57] atimesastudios opened #961 "[BUG] xDeepFM output file length less than test file length"
### Description
After fitting an xDeepFM model using CIN and DNN, I call model.predict() passing in the test file in FFM format with 12788 rows of test examples in the FFM format. When I examine the output file created I see that there are 12689 rows of predictions.

I've used different train, validate, test splits and find that I keep seeing fewer rows of predictions than test examples.

The way

[2019-10-24 15:40] Chris113113 opened #962 "[FEATURE] Migrate AzureML service 'ContainerImage' usage to 'Environments'"
### Description
Creating and deploying a ContainerImage is soon-to-be deprecated functionality inside of AzureML service.

The new recommended flow is instead to prepare an Environment object that contains your Pip/Conda requirements and simply include this in your InferenceConfiguration to be supplied in a Model.deploy() call.

This speeds up image build and service deployment time, and allows su

[2019-10-25 09:22] miguelgfierro commented on #961
FYI @yueguoguo @Leavingseason any idea for this?

[2019-10-25 11:25] atimesastudios commented on #961
train:
batch_size: 128

total examples 255762
split is 0.9, 0.05, 0.05
train shape is (230186, 5)
validate shape is (12788, 5)
test shape is (12788, 5)

	rating	userID	itemID	feat1	feat2
227840	4	1:1:2249	2:2:65178	3:3:1	4:112:1
204339	3	1:1:1847	2:2:62676	3:4:1	4:253:1
73644	4	1:1:1689	2:2:44864	3:3:1	4:141:1
68849	3	1:1:2650	2:2:44697	3:5:1	4:142:1
176296	5	1:1:2653	2:2:58389	3:3:1	4:387:1

fiel

[2019-10-25 12:03] atimesastudios commented on #961
Running the same setup with batch_size = 256 gives me an output file with 12739 predictions versus the test file which has 12788 examples.

[2019-10-25 12:27] atimesastudios commented on #961
I went back to batch_size 128 and made my test file a multiple of 128, so the number of examples is now 12544, (128 * 98 = 12544). Ran it again and this time my output file has 12447 rows, a difference of 97 predictions.

[2019-10-25 12:56] atimesastudios commented on #961
Noticed that https://github.com/microsoft/recommenders/blob/master/tests/smoke/test_deeprec_model.py, the smoke test for deeprec does not check to see if the number of predictions returned matches the number of examples presented.

[2019-10-25 13:23] atimesastudios commented on #961
Capturing this link here in case it is relevant:
https://stackoverflow.com/questions/48551158/keras-predict-generator-not-returning-correct-number-of-samples

[2019-10-25 13:27] atimesastudios commented on #961
![image](https://user-images.githubusercontent.com/3003461/67574917-6a32ef00-f709-11e9-818d-113270b51b18.png)

@miguelgfierro , @yueguoguo  and @Leavingseason
I carefully examined the output file. It looks like there are some lines that have more than one prediction.

[2019-10-25 14:05] atimesastudios commented on #961
![image](https://user-images.githubusercontent.com/3003461/67575325-53d96300-f70a-11e9-918e-ffe7c459760d.png)
![image](https://user-images.githubusercontent.com/3003461/67575358-69e72380-f70a-11e9-8de2-710363db0d52.png)

The bug manifests itself exactly at my batch_size boundary which is 128.
I'm going to instrument base_model.py in BaseModel's predict() to see how many times it puts a blank line

[2019-10-25 14:24] atimesastudios commented on #961
Is BaseModel predict() expecting each input file to be exactly batch_size number of examples?

[2019-10-25 16:13] atimesastudios commented on #961
@miguelgfierro, @yueguoguo , @Leavingseason - I think this change fixes the problem.

![image](https://user-images.githubusercontent.com/3003461/67586823-868e5600-f720-11e9-89fd-1d78afa337c7.png)

After making this change, my output files do not have more than one prediction per line and the number of predictions ties out with the number of examples. I'd like to create a pull request for this fix.

[2019-10-25 16:18] loomlike commented on #960
@micaleel @Beheshtian Thank you for the good discussion, and totally agree that we should refer the known hyper-parameters if possible. But at the same time, we should be careful to use the known hyper-parameters to the same train/test split of the source of the hyper-parameters so that our test set does not include any validation samples the original source used to find the best hyper-parameters.

[2019-10-25 16:41] loomlike commented on #957
You can use `tf.summary.scalar()` to write your metrics to tensorboard. [Here](https://www.tensorflow.org/tensorboard/get_started) you can find simple example.

For NCF in our repo, you can add summary writing part to:
[code]

We do have a logging hook at [reco_utils/common/tf_utils.py](https://github.com/microsoft/recommenders/blob/master/reco_utils/common/tf_utils.py) which are being used for wi

[2019-10-26 08:51] yueguoguo commented on #961
@atimesastudios sorry for not replying in time but you are right. We have spotted the bug before in #782 but somehow had no bandwidth to fix it. Apologies. Do you mind submitting a PR for that? @Leavingseason do you have any other suggestion on this?

[2019-10-26 12:06] atimesastudios commented on #961
I will check to make sure I have the latest version.

[2019-10-26 12:11] atimesastudios commented on #961
@yueguoguo - I just looked at the codebase on the recommender master branch. It still seems to have the bug in the codebase.

        load_sess = self.sess
        with tf.gfile.GFile(outfile_name, "w") as wt:
            for batch_data_input in self.iterator.load_data_from_file(infile_name):
                step_pred = self.infer(load_sess, batch_data_input)
                step_pred = np.reshape

[2019-10-26 12:20] atimesastudios commented on #961
@yueguoguo - It appears that the fix made in #833 was overwritten by the very next commit ("small fix"). Would it be possible to re-apply the fix into the latest codebase?

[2019-10-27 18:39] Beheshtian commented on #960
Thank you for your kindly response loomlike.

[2019-10-27 18:48] Beheshtian commented on #960
Thank you for your kindly response loomlike.
So can I refer to the Microsoft implementation results of NCF model in my paper?
I hope you'll be in touch again soon.

[2019-10-29 03:14] yueguoguo commented on #962
@Chris113113 Do we have an estimation about timeline for such deprecation?

[2019-10-29 03:15] yueguoguo commented on #961
Thanks @atimesastudios

Also thanks for @elogicsal for creating PR to fix the issue.

[2019-10-29 03:16] #956 closed

[2019-10-29 03:17] yueguoguo commented on #957
@karthikraja95 does it help solve your problem? If so, please close the issue.

[2019-10-29 03:34] yueguoguo commented on #960
Note, to fairly compare with other algorithms, the "leave-one-out" protocol is adjusted in the deep dive notebook where NCF is illustrated.

See the notes in the notebook,

This means there are `TOP_K` other than 1 recommendation items for evaluation. This is different from the settings used in the paper.

[code]

This corresponds to the comment by @micaleel that the stratified data split is perfo

[2019-10-29 03:43] yueguoguo commented on #911
Reopen if needed.

[2019-10-29 03:43] #911 closed

[2019-10-29 03:44] yueguoguo commented on #898
Reopen if needed

[2019-10-29 03:44] #898 closed

[2019-10-29 07:07] #774 closed

[2019-10-29 13:26] #961 closed

[2019-10-29 14:48] karthikraja95 commented on #957
I am trying to use implement it. I will let you know the results. Thanks

[2019-10-30 08:45] Beheshtian commented on #960
Thank you for your kindly response yueguoguo.
So do you calculate HR@11 and NDCG@11 in the ncf_deep_dive.ipynb?
I hope you'll be in touch again soon.

[2019-10-30 09:31] Beheshtian commented on #960
Thank you for your kindly response yueguoguo.
I don't understand the below sentence:
 "This means there are TOP_K other than 1 recommendation items for evaluation. This is different from the settings used in the paper."
So do you use 100 negative items and calculate HR@10 and NDCG@10 (because top_k is 10) in the ncf_deep_dive.ipynb and the settings used in the paper include 99 negative items and t

[2019-10-30 10:57] #957 closed

[2019-11-01 10:44] yueguoguo commented on #960
@Beheshtian from Figure 7 in the paper, I think it sweeps negative samples per positive sample from 1 to 10.

Note in the NCF deep dive notebook, the main objective *IS NOT* to replicate the results shown in the paper. The purpose is really to help readers understand the algorithm, the evaluation methods, etc. And the evaluation results can be different from the paper because of different evaluati

[2019-11-04 14:11] #960 closed

[2019-11-04 20:34] elogicsal opened #970 "[ASK] xDeepFM - Help on saving model checkpoint to Azure ML output directory"
### Description

I've taken the xDeepFM deep dive notebook and adapted it so that it can run in Azure Machine Learning Service. I would like Azure to capture the model checkpoints and associated files so that I can download the best run and visualize training in Tensorboard, as well as restore the model at a later point in time. Currently, I do not see any of the model files captured (AML Service

[2019-11-13 16:03] miguelgfierro commented on #970
maybe @eedeleon can help here?

[2019-11-13 16:06] miguelgfierro opened #975 "[BUG] Update badges for the test"
### Description

The tests badges have the old msdata pipeline, we need to update them to the new pipelines that @yueguoguo did

### In which platform does it happen?

### How do we replicate the issue?

### Expected behavior (i.e. solution)

### Other Comments

[2019-11-15 10:54] Mikelesc opened #976 "NCFDataset not working properly with random split"
### Description
 When trying to feed the _NCFDataset_ function obtainig train/test sets from the `python_random_split` function in _reco_utils_ I've noticed that if you shrink the dataset to less than about 29K elements it throws this error:

### How to replicate the issue
Fill the dataset (100k):
[code]
Pick random elements for train-test-splitting
`train, test = python_random_split(df.sample(999

[2019-11-15 12:11] miguelgfierro opened #977 "[BUG] error in integration test windows cpu"
### Description

when executing this step: https://github.com/microsoft/recommenders/blob/staging/tests/ci/azure_pipeline_test/dsvm_nightly_win_cpu.yml#L21

[code]
error:
[code]

### In which platform does it happen?

DSVM CPU
in happens the same in staging and master branch

### How do we replicate the issue?

Run the integration tests on windows cpu

### Expected behavior (i.e. solution)

### Ot

[2019-11-15 13:57] Mikelesc commented on #976
I guess it's just because of the leave-one-out evaluation, so there has to be interactions from every user both in the train and the test set in order to make NCFDataset work properly.  Then I should change that function if I want to just do random splitting?

[2019-11-15 14:00] #976 closed

[2019-11-15 15:35] ghost opened #979 "[HELP] Learning curves, metrics, logging to Azure ML Experiments"
### Description

In order to use the algorithms for my specific datasets, I have been converting Jupyter Notebooks such as the deep-dive and getting started implementations to run experiments in Azure Machine Learning Service by following the hyperdrive examples. I'd like to capture plots such as learning curves, data, metrics and python logging calls to the Experiments in Azure. This would requir

[2019-11-19 07:25] yueguoguo commented on #979
I think the plotting and logging features of AzureML Service are quite generic and any metrics of interest can be recorded and visualized after a run of experimentation. The APIs designed in the AzureML Python SDK are quite handy and I am not sure if it is necessary to implement them in the `reco_utils` for the same purpose...

[2019-11-19 13:03] elogicsal commented on #979
![image](https://user-images.githubusercontent.com/46599524/69148690-d7d10180-0aa2-11ea-866a-4448798f0334.png)

@yueguoguo - Here is an example of some instrumentation I did within reco_utils to be able to see how RBM training was proceeding.

[2019-11-19 13:06] elogicsal commented on #979
@yueguoguo  - Here is another example in rbm.py. There is a matplotlib plot that we can see when it is running in a notebook, but when we run this in Azure we would need to call plt.savefig() and then run.upload_file() to upload the image to the experiment.

![image](https://user-images.githubusercontent.com/46599524/69148990-89703280-0aa3-11ea-899b-2d1041d48bd8.png)

[2019-11-22 07:03] yueguoguo commented on #979
Thanks @elogicsal - this is awesome and makes total sense. Thanks for sharing! AzureML service provides the logging utilities in experimentation run for the convenience of getting the metrics and plots out of the experiments. We have some notebooks illustrating the use of AzureML for certain tasks like hyperparameter tuning but we did not cover every single bit of the powerful features of AzureML.

[2019-11-22 15:18] elogicsal commented on #979
@yueguoguo  - Will the team be receptive to pull requests to add instrumentation and plots using the HAS_AML check described above? These will be stored out to "./outputs" so that experimenters can download the information locally after the run.

[2019-11-25 03:38] ghost opened #984 "[BUG] Memory error in map_at_k (using Cornac BPR)"
### Description

I am running Cornac BPR on a problem with 13K users and 25K items on an Standard NC12 system with 118GB of RAM. I used the Cornac BPR example and adapted it to do hyperparameter optimization in Azure. The model is fit and all_predictions run OK. Now the program starts to evaluate the model and experiences a Memory Error in map_at_k.

    eval_map = map_at_k(test, all_predictions,

[2019-11-25 13:05] elogicsal commented on #984
The exact same problem occurs when I run SVD on the same dataset on the same Standard NC12 instance (112 GB of RAM)

File "reco_utils/azureml/svd_training.py", line 119, in <module>
    main()
  File "reco_utils/azureml/svd_training.py", line 112, in main
    svd = svd_training(args)
  File "reco_utils/azureml/svd_training.py", line 59, in svd_training
    result = eval(metric)(validation_data, al

[2019-11-25 15:57] miguelgfierro commented on #984
the quickest answer would be to use Spark, that should just work.

Now, the dataset you are using is kind of the same size of movielens20M (20 million ratings from 138000 users on 27000 movies). In the past (correct me if I'm wrong) @yueguoguo optimized the code for the metrics. Maybe there is a way to optimize this further. @elogicsal any help on this would be beneficial

Finally, if you don't wa

[2019-11-26 09:15] #908 closed

[2019-11-27 09:37] miguelgfierro commented on #977
fixed in https://github.com/microsoft/recommenders/pull/985

[2019-11-27 09:37] #977 closed

[2019-11-27 09:40] miguelgfierro commented on #456
added a new one here https://github.com/microsoft/recommenders/pull/909

[2019-11-27 09:40] #456 closed

[2019-11-27 09:41] miguelgfierro commented on #364
added in #955

[2019-11-27 09:41] #364 closed

[2019-11-27 09:42] miguelgfierro commented on #218
closing because of old issue, already added a FM: https://github.com/microsoft/recommenders/pull/909

[2019-11-27 09:42] #218 closed

[2019-11-27 09:43] miguelgfierro commented on #336
closing because stale issue, feel free to reopen if needed

[2019-11-27 09:43] #336 closed

[2019-11-27 09:43] miguelgfierro commented on #298
closing because stale issue, feel free to reopen if needed

[2019-11-27 09:43] #298 closed

[2019-11-27 09:44] miguelgfierro commented on #530
closing because stale issue, feel free to reopen if needed

[2019-11-27 09:44] #530 closed

[2019-11-27 09:45] miguelgfierro commented on #737
closing because stale issue, feel free to reopen if needed

[2019-11-27 09:45] #737 closed

[2019-11-27 09:46] miguelgfierro commented on #709
closing because stale issue, feel free to reopen if needed

[2019-11-27 09:46] #709 closed

[2019-11-27 09:46] #689 closed

[2019-11-27 09:46] #665 closed

[2019-11-27 09:50] miguelgfierro commented on #673
developed in https://github.com/microsoft/recommenders_engine_example_layout

[2019-11-27 09:50] #673 closed

[2019-11-27 09:52] miguelgfierro opened #987 "[BUG] in dsvm_notebook_win_pyspark"
### Description

[code]
link: https://dev.azure.com/best-practices/recommenders/_build/results?buildId=13529

### In which platform does it happen?

### How do we replicate the issue?

### Expected behavior (i.e. solution)

### Other Comments

[2019-11-27 11:40] anargyri commented on #689
We should probably revisit this issue when / if the hyperparameter tuning repo is open-sourced, since there are some utilities + Kubeflow notebooks there.

[2019-11-28 14:56] #770 closed

[2019-11-28 16:34] konabuta opened #989 "[BUG] SARSingleNode deprecated"
### Description

[sar_movielens_with_azureml.ipynb](https://github.com/microsoft/recommenders/blob/master/notebooks/00_quick_start/sar_movielens_with_azureml.ipynb) failed with error. It is because of  **SARSingleNode** doesn't accept `remove_seen`.

### In which platform does it happen?

Azure Machine Learning Notebook VM

### How do we replicate the issue?

I followed this link _**[Getting Start

[2019-11-29 06:57] yueguoguo commented on #989
Hi @konabuta, the constructor of `SARSingleNode` does not take `remove_seen` as an input argument (see line [here](https://github.com/microsoft/recommenders/blob/7c0a6a3e23dee047b9afbf8564bd236a8300454e/reco_utils/recommender/sar/sar_singlenode.py#L26)). It is instead used in the method of `recommend_k_items` (see line [here](https://github.com/microsoft/recommenders/blob/7c0a6a3e23dee047b9afbf856

[2019-11-29 07:09] yueguoguo commented on #984
It looks like the issue is from [here](https://github.com/microsoft/recommenders/blob/7c0a6a3e23dee047b9afbf8564bd236a8300454e/reco_utils/dataset/pandas_df_utils.py#L458) where the pandas dataframe columns are put into a hashable object. The hashable object is produced from `hashable = tuple(self.pandas_object.values.tobytes())`. Not sure which part is the root cause of the problem though...

[2019-11-29 07:44] konabuta commented on #989
I found the following code in this [notebook](https://github.com/microsoft/recommenders/blob/master/notebooks/00_quick_start/sar_movielens_with_azureml.ipynb). I don't add by myself.

[code]

Could you check again ?

Thanks,
Keita

[2019-11-29 09:41] #987 closed

[2019-11-29 09:52] miguelgfierro commented on #989
good catch @kanobuta, you are right, we need to change that. The correct code would be:
[code]
We would do a PR fixing this soon

[2019-11-29 09:53] miguelgfierro commented on #975
fixed with https://github.com/microsoft/recommenders/pull/973

[2019-11-29 09:53] #975 closed

[2019-11-29 09:55] miguelgfierro opened #990 "[FEATURE] Add test pipeline for notebooks that use AzureML"
### Description

Test all the notebooks that have AzureML resources, like the content in folders:
* https://github.com/microsoft/recommenders/tree/master/notebooks/04_model_select_and_optimize
* https://github.com/microsoft/recommenders/tree/master/notebooks/05_operationalize

### Expected behavior with the suggested feature

### Other Comments
related to:
- https://github.com/microsoft/recommende

[2019-11-29 14:28] konabuta commented on #989
@miguelgfierro Thank you for your confirmation !

[2019-11-29 16:58] miguelgfierro commented on #989
@konabuta that would be fantastic, feel free to take any issue or bug in the list https://github.com/microsoft/recommenders/issues. And thanks again for finding the bug

[2019-12-01 06:56] m-idasa opened #992 "how can I use this notebook functions with implicit feedback"
#### I have data with implicit feedback for some items, this feedbacks can be "join", "check" or "leave".
How can I use this notebook functions to recommend users with this data?

[2019-12-01 23:08] #989 closed

[2019-12-02 10:55] miguelgfierro opened #993 "[BUG] Permission denied in Windows test machine"
### Description

[code]

### In which platform does it happen?

### How do we replicate the issue?

dsvm_nightly_win_gpu
-> https://dev.azure.com/best-practices/recommenders/_build/results?buildId=16737

dsvm_nightly_win_cpu -> https://dev.azure.com/best-practices/recommenders/_build/results?buildId=16691

### Expected behavior (i.e. solution)

### Other Comments

[2019-12-03 12:34] miguelgfierro commented on #993
updated conda to v=4.7.12 with

`conda update -n base -c defaults conda`

[2019-12-03 13:20] miguelgfierro commented on #993
that didn't solve the issue:
[code]

and
[code]

[2019-12-03 17:29] miguelgfierro opened #995 "[FEATURE] Use AzureML compute target to execute test"
### Description

@bethz created a pipeline that uses AzureML to programmatically start a virtual machine, execute the tests, gather the results in Azure DevOps and shut down the machine.

At the moment the pipeline is inactive but the code is in the repo here: https://github.com/microsoft/recommenders/tree/7c0a6a3e23dee047b9afbf8564bd236a8300454e/tests/ci
The files are:
* cpu_unit_tests.yml
* env-

[2019-12-04 11:33] miguelgfierro commented on #993
Some temp files could not be erased, I reboot and was able to erase completely the corrupted environment. Now I kicked off the nightly builds again, they will take several hours

[2019-12-04 14:01] miguelgfierro opened #997 "[BUG] ValueError: numpy.ufunc size changed, may indicate binary incompatibility"
### Description

In the nightly windows pipelines, there is a problem with numpy and sklearn
[code]

### In which platform does it happen?

DSVM windows

### How do we replicate the issue?

run the integration tests in windows

### Expected behavior (i.e. solution)

### Other Comments

[2019-12-04 14:03] miguelgfierro commented on #993
fixed by rebooting, now we have a new error https://github.com/microsoft/recommenders/issues/997

[2019-12-04 14:03] #993 closed

[2019-12-05 10:52] miguelgfierro opened #1000 "[FEATURE] Apply black to all notebooks"
### Description

As noticed by @loomlike in https://github.com/microsoft/recommenders/pull/973#discussion_r353999058 and https://github.com/microsoft/recommenders/pull/973#discussion_r354000519. We should standardize all the notebooks

### Expected behavior with the suggested feature

### Other Comments

[2019-12-05 14:35] gramhagen commented on #1000
there is a tool to do this from within the notebook: https://github.com/drillan/jupyter-black

is there another way to apply black to notebooks that wouldn't require this to be installed and used manually for each notebook?

[2019-12-05 16:57] miguelgfierro commented on #1000
@msalvaris knew a trick that consisted of converting jupyter notebook to python, the apply black and then convert it back to notebook. Mat can you please remind me the name of the program?

[2019-12-05 17:27] msalvaris commented on #1000
You can do it with jupytext https://towardsdatascience.com/jupytext-1-0-highlights-a49dca9baa7b
We have it as part of our pre-commit hooks https://github.com/microsoft/DeepSeismic/blob/staging/.pre-commit-config.yaml
That way we can run it over all notebooks at once

[2019-12-05 23:07] gramhagen commented on #1000
No spoilers 😂

[2019-12-06 09:13] miguelgfierro commented on #997
fixed in #999

[2019-12-06 09:13] #997 closed

[2019-12-06 14:54] loomlike commented on #1000
@msalvaris Is there a Jupyter-extension to help auto-formatting while editing (for browser-usecase, not IDE)? I found grammar checker which is quite useful to me.

[2019-12-06 15:12] gramhagen commented on #1000
@loomlike yes that is the repo I linked to above

[2019-12-09 18:30] yueguoguo commented on #992
Hi @m-idasa quite some algorithms work with implicit data. For example, in SAR (see [here](https://github.com/microsoft/recommenders/blob/master/notebooks/02_model/sar_deep_dive.ipynb)) the event type of user-item interaction corresponds to the type of the feedback in your case, and SAR algorithms takes that type information as weights in calculating the affinity score.

[2019-12-10 18:46] #962 closed

[2019-12-10 18:46] #829 closed

[2019-12-10 18:47] miguelgfierro commented on #852
this is working now

[2019-12-10 18:47] #852 closed

[2019-12-10 18:48] #597 closed

[2019-12-10 18:49] #648 closed

[2019-12-10 18:50] #669 closed

[2019-12-10 18:51] miguelgfierro commented on #248
very old issue, closing, feel free to reopen if needed

[2019-12-10 18:51] #248 closed

[2019-12-10 18:52] miguelgfierro commented on #241
added in https://github.com/Microsoft/Recommenders#algorithms

[2019-12-10 18:52] #241 closed

[2019-12-11 16:58] miguelgfierro opened #1007 "[BUG] ModuleNotFoundError: No module named 'fastai' in nigthly gpu tests"
### Description

[code]
### In which platform does it happen?

### How do we replicate the issue?

see https://dev.azure.com/best-practices/recommenders/_build/results?buildId=18235

`pytest tests/smoke/test_notebooks_gpu.py::test_fastai_smoke`

### Expected behavior (i.e. solution)

### Other Comments

[2019-12-12 12:28] miguelgfierro commented on #1007
[code]

o_o

will try in the linux test machine

[2019-12-12 13:08] miguelgfierro commented on #1007
it looks we are not installing correctly the env, it is installing cpu stuff:
[code]

[2019-12-12 15:51] elogicaadith commented on #970
@miguelgfierro: I have a solution to this problem. It involves adding a "/" to the save_path string as shown below:

![image](https://user-images.githubusercontent.com/58820992/70727058-05d5ea00-1ccd-11ea-9479-7c38a1c46407.png)

This code is located in base_model.py. I have validated that this works on the Azure Machine Learning service.

![image](https://user-images.githubusercontent.com/58820992

[2019-12-12 16:35] elogicaadith commented on #970
@miguelgfierro: Just finished testing this change on the local xdeeepfm notebook in 00_quick_start:

![image](https://user-images.githubusercontent.com/58820992/70730609-4f293800-1cd3-11ea-94b8-462eb2958763.png)

contents of the local folder in my C: drive -

![image](https://user-images.githubusercontent.com/58820992/70730702-77189b80-1cd3-11ea-9ce5-e4c90d631817.png)

[2019-12-13 12:15] miguelgfierro commented on #970
Thanks @elogicaadith I added a comment, can you please take a look?

[2019-12-16 20:02] miguelgfierro opened #1012 "[FEATURE] Refactor TF metrics into a file in evaluation folder"
### Description

description https://github.com/microsoft/recommenders/pull/1010#discussion_r357613601

### Expected behavior with the suggested feature

### Other Comments

[2019-12-16 20:13] #970 closed

[2019-12-16 20:22] miguelgfierro opened #1013 "[FEATURE] Create 4 deepdive notebooks for new MSRA sequential models"
### Description

### Expected behavior with the suggested feature

### Other Comments
related to https://github.com/microsoft/recommenders/pull/1010

[2019-12-18 18:00] elogicaadith opened #1016 "[BUG] Not able to restore xDeepFM model"
### Description

Not able to restore trained xDeepFM models from TensorFlow save files.

***The "create_hparams" function, present in the "deeprec_utils.py" script takes two variables related to model restoration:***
- load_saved_model - a Boolean, set to False by default in the YAML file for xDeepFM.
- load_model_name - the model path.

Out of these two variables read from the YAML file, I could

[2019-12-19 15:49] miguelgfierro commented on #1016
FYI @Leavingseason

[2019-12-19 15:50] miguelgfierro opened #1020 "[FEATURE] Rename ASVD to A2SVD"
### Description

Info https://github.com/microsoft/recommenders/pull/1015#discussion_r359423670

### Expected behavior with the suggested feature

### Other Comments

[2019-12-20 19:33] #1007 closed

[2019-12-22 09:04] #1020 closed

[2019-12-23 16:15] zegerius opened #1022 "[FEATURE] Pandas Series.map() is too slow"
### Description
When generating internal user ids from external ids in `SARSingleNode.score`, the performance is abysmal.

https://github.com/microsoft/recommenders/blob/9b6c065a77c07a60947e894a6b516be5cef14ca1/reco_utils/recommender/sar/sar_singlenode.py#L292

Our user2index has 114.401 keys (type uuid.UUID), a lookup with map takes on average 225ms, as demonstrated below:

[code]

where

[code]

[2019-12-24 16:09] miguelgfierro commented on #1022
hey @zegerius, this is really great, thanks for the heads up. Would you like to go ahead and do a PR with these changes?

[2019-12-26 03:28] yueguoguo commented on #984
Hi @elogicsal have you worked out a solution to the problem?

[2019-12-30 02:25] yueguoguo opened #1025 "[FEATURE] Sequential model deep dive notebook"
### Description
Do we need a deep dive notebook for sequential model?

@Leavingseason @miguelgfierro @anargyri

### Expected behavior with the suggested feature

### Other Comments

[2019-12-31 01:07] hsm207 opened #1026 "[BUG] Fail to build docker image for cpu environment"
### Description
Building the docker image for cpu environment fails when building xlearn.

### In which platform does it happen?
 Ubuntu 18.04.3 LTS

### How do we replicate the issue?
Run the following commands (taken from [here](https://github.com/microsoft/recommenders/blob/master/docker/README.md))

`DOCKER_BUILDKIT=1 docker build -t recommenders:cpu --build-arg ENV="cpu" .`

### Expected beha

[2020-01-01 08:25] miguelgfierro commented on #1025
yes, we agreed to do this: https://github.com/microsoft/recommenders/issues/1013

[2020-01-01 08:25] #1025 closed

[2020-01-01 08:26] #1022 closed

[2020-01-02 15:36] elogicsal commented on #984
@yueguoguo - Not as yet, will keep looking.

[2020-01-03 01:09] gramhagen commented on #1026
Seems like conda is not completing channel installation of cmake prior to pip installation of xlearn. 😔 There's still an open issue on building a conda feedstock for xlearn. In the meantime we can revert the removal of explicit cmake installation in the dockerfile.

@yueguoguo should we remove cmake and xlearn from the conda env script and add instructions to build it separately? I'm

[2020-01-04 06:32] yueguoguo commented on #1026
Maybe we can still keep xlearn in the conda env but install cmake separately.

[2020-01-04 16:32] gramhagen commented on #1026
sure, let's just drop cmake from conda, add it to docker and then we can add a note in the setup readme indicating xlearn requires cmake.

[2020-01-07 16:38] TheAnswer96 opened #1029 "[ASK] Colab crash when using bigger dataset"
### Description
When I use dataset with about 400k split in 6k items and 300k users, colab crash during NCFDataset is running. Instead when I use a little slice of dataset with about 700 items and 800 users and a total of 1300 rows in the csv file it works.

Does anyone know how to fix this?
Do you think this is a google colab related issue?
Thank you very much for your help.
Have a nice day.

###

[2020-01-09 09:51] miguelgfierro opened #1030 "[BUG] issue with library of fastai"
### Description

[code]

### In which platform does it happen?

### How do we replicate the issue?

### Expected behavior (i.e. solution)

### Other Comments

[2020-01-09 10:31] #1030 closed

[2020-01-13 09:19] simonzhaoms opened #1032 "[BUG] The link to deep dive notebook is broken in 00_quick_start/sar_movielens.ipynb"
### Description

All the links to `deep dive notebook` in [00_quick_start/sar_movielens.ipynb](https://github.com/microsoft/recommenders/blob/staging/notebooks/00_quick_start/sar_movielens.ipynb) are broken.

### In which platform does it happen?

### How do we replicate the issue?

### Expected behavior (i.e. solution)

It should be `../02_model/sar_deep_dive.ipynb`.

### Other Comments

[2020-01-14 03:20] simonzhaoms opened #1033 "[BUG] The link to Recommenders/reco_utils/recommender/sar/sar_singlenode.py is broken in notebooks/02_model/sar_deep_dive.ipynb"
### Description

The link to `Recommenders/reco_utils/recommender/sar/sar_singlenode.py` is not available in [`notebooks/02_model/sar_deep_dive.ipynb`](https://github.com/microsoft/recommenders/blob/master/notebooks/02_model/sar_deep_dive.ipynb).

### In which platform does it happen?

### How do we replicate the issue?

### Expected behavior (i.e. solution)

It should be `../../reco_utils/recomme

[2020-01-14 06:52] yueguoguo commented on #1029
Not sure if it is related to the underlying machine you are using. Try scaling up memory, number of CPU cores, etc.

[2020-01-14 06:53] yueguoguo commented on #1032
Good catch - can you create a PR for this?

[2020-01-14 06:54] yueguoguo commented on #1033
Good catch - maybe create a PR directly to fix the issue

[2020-01-15 02:49] yueguoguo commented on #992
Close this issue but feel free to reopen is if necessary. @m-idasa

[2020-01-15 02:49] #992 closed

[2020-01-15 03:22] simonzhaoms commented on #1033
It should be the rendering problem of nbviewer, which is fixed now.

[2020-01-15 03:22] #1033 closed

[2020-01-15 03:22] simonzhaoms commented on #1032
It should be the rendering problem of nbviewer, which is fixed now.

[2020-01-15 03:22] #1032 closed

[2020-01-15 15:42] miguelgfierro commented on #1029
if you have a memory problem, here we have a tool to check the memory on a notebook: https://github.com/microsoft/recommenders/blob/master/reco_utils/common/notebook_memory_management.py also here you have some code to check gpu memory: https://github.com/miguelgfierro/pybase/blob/master/system/memory.py

[2020-01-17 12:05] atimesastudios opened #1037 "[ASK] Azure Machine Learning Designer Modules - port of Matchbox Recommender"
### Description
Are there plans to make the Matchbox Recommender from Azure Machine Learning Studio available in Azure Machine Learning Designer? What is the closest recommendation algorithm to Matchbox? Is there any documentation on how I can create my own Azure Machine Learning Designer module? I see that @miguel-ferreira created a branch in #1036 which prompts these questions.

### Other Commen

[2020-01-18 03:29] yueguoguo commented on #1026
Resolved in #1034

[2020-01-18 03:29] #1026 closed

[2020-01-21 14:17] elogicsal commented on #984
I had to bump up to the next Azure ML Compute size to get enough RAM (200GB+) for the scale of my problem.

[2020-01-22 19:39] elogicsal opened #1040 "[ASK] Sequential Recommender (SLi_Rec) Questions"
### Description
When we create a dataset for the predict function in SLi_Rec do we need to start with a label i.e. 1 or 0 and what timestamp should we use? If we use a future timestamp does the model provide a probability based on the timestamp? How about if we use the timestamp for NOW() or a timestamp in the past?

What are the tradeoffs/benefits for min_sequence_len and max_sequence_len in term

[2020-01-23 15:11] miguelgfierro opened #1041 "[BUG] relevancy method and get_top_k with threshold discussion"
### Description

@anargyri, @loomlike and I were having a discussion about [how to optimize surprise prediction](https://github.com/microsoft/recommenders/pull/1039/files/5d4d73e8d71d43ba37db4647f6654a43768b345d#r369500035), and we saw that in the function [merge_ranking_true_pred](https://github.com/microsoft/recommenders/blob/master/reco_utils/evaluation/python_evaluation.py#L340) there is this

[2020-01-23 16:00] miguelgfierro opened #1042 "[FEATURE] Review surprise recommend items method"
### Description

Review based on this conversation: https://github.com/microsoft/recommenders/pull/1039#discussion_r369500035

### Expected behavior with the suggested feature

### Other Comments

[2020-01-27 16:45] elogicsal commented on #1016
@elogicaadith - I was able to use load_model from base_model.py to load a saved SLi_Rec (Sequential Recommender) model that inherits from BaseModel via SequentialBaseModel.

I ran SLi_Rec on Azure Machine Learning Service and saved the model and summary directories from my best model run to ./outputs/model and ./outputs/summary on my local computer. The model directory has the checkpoint file, dat

[2020-01-30 14:27] gramhagen commented on #1029
I'm going to close this for now, let us know if you discover memory issues within the algorithm that need to be addressed, my assumption at this point is the colab notebook does not have enough memory for the algorithm / dataset in use.

[2020-01-30 14:27] #1029 closed

[2020-01-31 13:33] wagpereira opened #1043 "instantâneoCreat - Azure"
### Description
Hello friends,

I would like to create a routine to create and maintain the last 15 blobs snapshots

### Other Comments

[2020-01-31 14:14] gramhagen commented on #1043
Hi wagpereira, I'm curious how you intend to use this? Can you give a bit more detail about your scenario and how you're envisioning this routine to be used.

[2020-02-04 10:40] miguelgfierro opened #1044 "[FEATURE] Add VW with MMLSpark with movielens"
### Description

We have been asked to add an example with MMLSpark VW in the repo.

An example of VW on spark is: https://github.com/Azure/mmlspark/blob/master/notebooks/samples/Classification%20-%20Adult%20Census%20with%20Vowpal%20Wabbit.ipynb

maybe combine with https://github.com/microsoft/recommenders/blob/master/notebooks/02_model/vowpal_wabbit_deep_dive.ipynb

### Expected behavior with the

[2020-02-10 10:06] miguelgfierro opened #1045 "[BUG] Test error windows gpu with asyncio"
### Description

[code]

link to full logs: https://dev.azure.com/best-practices/recommenders/_build/results?buildId=22629&view=logs&j=513fa82f-6bf5-5d01-2457-cb22781e601b&t=7a5e6e9e-f946-529b-9808-e051053a681e

### In which platform does it happen?

Azure Data Science Virtual Machine windows

### How do we replicate the issue?

### Expected behavior (i.e. solution)

### Other Comments

[2020-02-10 10:08] miguelgfierro opened #1046 "[BUG] Test error linux cpu with NNI"
### Description

[code]
link to log: https://dev.azure.com/best-practices/recommenders/_build/results?buildId=22252&view=logs&j=513fa82f-6bf5-5d01-2457-cb22781e601b&t=9e260265-5f8c-5335-1126-375960d54d1f

### In which platform does it happen?

### How do we replicate the issue?

### Expected behavior (i.e. solution)

### Other Comments

[2020-02-10 10:10] miguelgfierro opened #1047 "[BUG] Test error on linux gpu with fastai"
### Description

[code]
link to log: https://dev.azure.com/best-practices/recommenders/_build/results?buildId=22669&view=logs&j=513fa82f-6bf5-5d01-2457-cb22781e601b&t=9e260265-5f8c-5335-1126-375960d54d1f

### In which platform does it happen?

### How do we replicate the issue?

### Expected behavior (i.e. solution)

### Other Comments

[2020-02-10 17:50] Italosayan opened #1048 "Does the team have any advice on online evaluation?[ASK]"
### Description
Which metrics to use during an A/B Test of a recommendation system? Examples in e commerce would be awesome. I found this windows presentation that has awesome information. Do you have more examples like the bing one?

https://medium.com/@somit_gupta/evaluation-of-online-controlled-experiments-20d79e2f898d

https://dl.acm.org/doi/10.1145/2365952.2366014
https://dl.acm.org/doi/10.11

[2020-02-11 09:56] yueguoguo opened #1049 "[BUG] Maven coordinate of microsoft:sarplus:0.2.6 is not found"
### Description
The maven coordinate of microsoft:sarplus:0.2.6 cannot be found.

### In which platform does it happen?
Azure Databricks

### How do we replicate the issue?
Follow the instructions of cluster set up on Azure Databricks [here](https://github.com/microsoft/recommenders/tree/master/contrib/sarplus) failed because the maven cannot be found, which in turn, resulted in an installation fa

[2020-02-11 09:56] yueguoguo commented on #1049
@eisber FYI

[2020-02-11 10:00] yueguoguo commented on #1048
Thanks @Italosayan for sharing this. Online evaluation is definitely one of our utmost interests, but unfortunately so far we have not done much in the repo to support it. Will consider it in the near future.

[2020-02-11 10:19] eisber commented on #1049
can you try eisber:sarplus:0.2.6 ?

[2020-02-11 10:35] yueguoguo commented on #1049
@eisber esiber:sarplus:0.2.6 works well - so probably we just need to update the instruction or publicize a replicate of the original maven.

[2020-02-11 10:36] yueguoguo commented on #1040
@Leavingseason FYI

[2020-02-11 12:05] anargyri commented on #1047
This link points to NNI (the same error as the other issue), not to FastAI.

[2020-02-11 16:59] loomlike commented on #1047
@anargyri @miguelgfierro So is this nni-related issue or fastai with a wrong link?

[2020-02-11 17:14] miguelgfierro commented on #1047
it is fastai, I fixed the link

[2020-02-12 10:48] anargyri commented on #1047
I can't replicate either this or the NNI issue. Both tests pass on another VM after generating the conda files from scratch. Most likely there is some problem with the build VM, not with the code. I suggest you try again on the build VM with a completely new and fresh conda environment.

[2020-02-12 21:59] loomlike commented on #1047
Based on the error message, I believe the error is related to this: https://forums.fast.ai/t/fastai-v1-and-pandas-1-0-0-error-in-tabular-data-show-xys/63210

Seems like the test is now passing. Has either fastai package or pandas package version changed in reco_gpu.yaml?

[2020-02-13 08:10] miguelgfierro commented on #1047
it is weird, the last 5 or so tests failed and today it runs correctly. Not sure why, I also saw that the master tests are not running daily https://dev.azure.com/best-practices/recommenders/_build/results?buildId=21076&view=results (last time it run was on Jan 18), does anyone changed this?

[2020-02-13 08:21] miguelgfierro opened #1051 "[BUG] Problem with ADO scheduled triggers"
### Description

After 18Jan the scheduled master pipeline test stopped working. Before that, every day the nightly tests on master and staging were being executed, after that date there is an erratic behavior

See pipelines here: https://dev.azure.com/best-practices/recommenders/_build

### In which platform does it happen?

### How do we replicate the issue?

### Expected behavior (i.e. solution

[2020-02-13 15:18] loomlike commented on #1047
Confirmed (and replicated) the issue with changing pandas package versions.
pandas==1.0.0 causes the issue.
pandas==1.0.1 fixes.

So, how do we want to handle this at the env file now...?

[2020-02-16 09:32] kartikey-singh opened #1053 "Multilabel classification with auc/logloss metric in python_evaluation [ASK]"
I want to ask the team that when using `auc` function it calls `roc_auc_score`, but in a movielens type dataset where ratings are multi-label (1-5) which is the usual case.

We need to add `labels` argument to it for it to work otherwise it throws `ValueError: multi_class must be in ('ovo', 'ovr')`.

As the `roc_auc_score` function by default work for binary data.

What are the suggestions for it?

[2020-02-18 09:03] #1048 closed

[2020-02-19 09:18] mmahathi666 opened #1054 "[BUG] Running recommend_top_k_items() on SarPlus causes all the files in the cache path to be deleted"
### Description
When running recommend_top_k_items() the SARPlus algorithm causes all the files in the cache path to be cleared. This is not expected and if needed, it should clean up any existing *.sar files from the path. Using this unknowningly on a folder can caus accidental data loss.

### In which platform does it happen?

All platforms

### How do we replicate the issue?
Run model.recommend

[2020-02-19 09:22] mmahathi666 opened #1055 "[BUG] Running recommend_k_items() on SARPlus algo causes job aborted failures"
### Description

When run with recommend_k_items_slow() things work fine. But when using recommend_k_items() job gets aborted, multiple retries didnt fix the same.
Run: model.recommend_k_items(customers_df, top_k=10, remove_seen=False, cache_path='/mnt/sarpluscache/sarcache')

It seems to be that the cache folder/path is getting overwritten during the cache build up, as the path exists and is acce

[2020-02-19 09:25] yueguoguo commented on #1055
@eisber

[2020-02-19 09:26] yueguoguo commented on #1054
@eisber can you help take a look at this? Maybe we want to schedule a meeting for discussing this.

[2020-02-19 12:20] linhongzhao321 opened #1056 "[ASK] Is there a Chinese version of this project? If not, Can we build translation project?"
### Description
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I learned and practiced some parts of this project，I have to say this project is very good！！！Next！I want to share this project with more Chinese developers who not good English。Before that, I would like to confirm the question as stated in the title。

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Is there a Chinese version of this p

[2020-02-19 12:55] eisber commented on #1054
I think this originates from this line: https://github.com/eisber/sarplus/blob/master/python/pysarplus/SARPlus.py#L264

am not sure how to deal with it as clearing it out manually can be a pain (e.g. hdfs), one could potentially expose a parameter (overwrite = true, for the cache?)

[2020-02-21 13:33] miguelgfierro commented on #1056
Hi, at the moment we don't plan to translate the repo to other languages, unfortunately we don't have the bandwidth. If you want, you can create a fork and do the translation there.

[2020-02-21 13:33] #1056 closed

[2020-02-21 13:58] miguelgfierro commented on #1053
AUC and logloss can be used in general in multilabel, but we mostly use it for measuring binary classification. AUC is a weighted average between precision and recall and logloss gives you a sense of how wrong you are, penalising heavily results that are far from the correct ones.
If you want to do multilabel metrics, I would recommend to use the regression metrics we have in the repo https://gith

[2020-02-21 13:59] miguelgfierro commented on #1043
closing this

[2020-02-21 13:59] #1043 closed

[2020-02-21 14:00] #1047 closed

[2020-02-21 14:02] #1045 closed

[2020-02-21 14:08] #1046 closed

[2020-02-24 13:24] miguelgfierro commented on #1051
it looks it was an internal error from ADO, now it is fixed https://dev.azure.com/best-practices/recommenders/_build?definitionId=67&_a=summary

[2020-02-24 13:24] #1051 closed

[2020-02-27 16:01] #1049 closed

[2020-02-29 18:07] kartikey-singh commented on #1053
Thanks for the reply, but now both `logloss` and `roc_auc_score` support `multi_class` classification,
[https://scikit-learn.org/stable/modules/generated/sklearn.metrics.roc_auc_score.html](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.roc_auc_score.html) .
Maybe it can be added as an enhancement, otherwise no problem.

[2020-03-06 12:08] recsyslabs opened #1061 "[BUG] BPR Model Evaluation using 'training' set and not 'test' to compute benchmarks"
### Description
As in any ML experimental setting, only the `test` dataset should be used to compute benchmarks. However, in the BPR deep dive notebook :

https://github.com/microsoft/recommenders/blob/master/notebooks/02_model/cornac_bpr_deep_dive.ipynb

In *Section 3.4: Prediction and Evaluation*, Input cell 8, the following code uses the training set to compute `all_predictions` variable, which

[2020-03-06 14:47] gramhagen commented on #1061
@recsyslabs this section could benefit from a bit more description of what's happening. in the line you reference calculation of all_predictions is generating the predictions from the model for all possible user / item pairs (but ignoring those that were observed during training). the only relevant information used by the train data is the unique lists of user ids and item ids.

There is actually

[2020-03-06 15:39] tqtg commented on #1061
@gramhagen totally agree with your suggestion. I will PR an update to make things more clear as soon as I can.

[2020-03-07 07:25] tqtg commented on #1061
@gramhagen I revisited some of the tutorials and notice that `all_predictions` is supposed to be the prediction scores for all `users` and `items` appeared in training data.
For example:
https://github.com/microsoft/recommenders/blob/master/notebooks/02_model/surprise_svd_deep_dive.ipynb
https://github.com/microsoft/recommenders/blob/master/notebooks/00_quick_start/ncf_movielens.ipynb

[2020-03-09 10:28] recsyslabs commented on #1061
Hi @tqtg & @gramhagen , I still do not understand why is it required to compute for all user and items in the training set. Given the train/test split with a ratio 0.75/0.25, respectively, the goal as far as I understand it from the notebooks, and considering an item prediction task, is to rank the items in the test set, that is, the rank given by the model should be as close as possible as the tr

[2020-03-09 14:54] gramhagen commented on #1061
@recsyslabs this instance is a bit different from typical supervised learning case because the training data is sparse.

let's consider this input:
|user|item|rating|
|-|-|-|
|u1|i1|5|
|u1|i2|4|
|u2|i1|4|
|u3|i1|3|
|u3|i3|5|

If we use an 80/20 split we will exclude one of the ratings, let's assume it is u3-i3.

so train is:
|user|item|rating|
|-|-|-|
|u1|i1|5|
|u1|i2|4|
|u2|i1|4|
|u3|i1|3|

and t

[2020-03-09 15:56] miguelgfierro commented on #1037
What I have done in https://github.com/microsoft/recommenders/pull/1060 is to show an example of Recommenders integration with the new AzureML Designer.

One problem of the Matchbox recommender was that it wasn't very scalable. I might suggest to try  this one instead: https://github.com/microsoft/recommenders/blob/master/notebooks/02_model/fm_deep_dive.ipynb

[2020-03-09 15:56] #1037 closed

[2020-03-09 16:01] anargyri commented on #1037
Matchbox is a type of matrix factorization algorithm, based on this paper: http://www2009.eprints.org/12/1/p111.pdf

[2020-03-09 16:01] tqtg commented on #1061
@gramhagen indeed all notebooks need to be standardized in terms of evaluation protocol. The models have to give predictions for users and items in the test data even though they didn't appear in the training data.
I also notice the [benchmark notebook](https://github.com/microsoft/recommenders/blob/master/benchmarks/movielens.ipynb) needs to be changed so that all models can provide predictions f

[2020-03-09 16:02] anargyri commented on #1037
There is also an .NET implementation here https://dotnet.github.io/infer/userguide/Learners/Matchbox%20recommender.html

[2020-03-10 07:47] recsyslabs commented on #1061
Thanks @gramhagen your explanation helps a lot to clarify the evaluation protocol. An example like this in the notebooks would be very useful.

[2020-03-10 17:55] marchezinixd commented on #1061
I don't know if i should create another issue, but since it is an recommendation system it would be intresting to have a function that recommend the top k in a more efficient way than stacking all userxitems sorting and them filtering. I implemented one myself, but i think this would aggragate to new users.

[2020-03-11 10:23] yueguoguo commented on #1061
**Evaluation protocol**
In the benchmark notebook, we standardized data splitting by stratifying items for each user, but this does not guarantee all items will be present in both the training and testing data set. In the CF recommender, many times we have to sample a subset of the whole user-item matrix for training, which may lead to loss of some users and/or items in the original data set.

**R

[2020-03-14 08:52] maverick0220 opened #1065 "where could I get the 'reco_utils' that imported in the code?"
### Description

I tried pip3 on both linux and macOS, but none of them found such a distribution.
### Other Comments

[2020-03-14 22:16] gramhagen commented on #1065
We put some instructions here. Let me know if they're not clear and we can update.
https://github.com/microsoft/recommenders/blob/master/SETUP.md#install-the-utilities-via-pip

[2020-03-15 00:22] maverick0220 commented on #1065
Thanks for your guide, truly helped. For beginners like me it's a little hard to understand in the first place.

[2020-03-15 15:53] gramhagen commented on #1065
Great. Glad it helped. I'll close this issue then

[2020-03-15 15:53] #1065 closed

[2020-03-16 09:16] gojuukaze opened #1066 "[BUG] Docker build stuck at final 1/2"
### Description
Docker build stuck at final 1/2

### In which platform does it happen?

* macOS 10.14.5
* docker 19.03.2

### How do we replicate the issue?

[code]

### Other Comments

build log:

[code]

![log img](https://images2.imgbox.com/04/a0/GYKGHv7Z_o.png)

[2020-03-17 01:02] karthikraja95 opened #1067 "[ASK] [HELP] Using NCF how to get top 10 recommendations given a user_id and item_id?"
### Description

I built a recommender system using NCF.  My question: is there a way to have a function takes in both user_id and item_id and gives recommendations based on the user_id history/transactions  and items similar to item_id?

Example: Let say user_id: 1234 purchases an item_id 2345. How to give top 10 item recommendations considering the user_id 1234 bought item_id 2345?

Any idea how

[2020-03-17 02:33] weiczhu opened #1068 "[FEATURE] Serving SLI_REC model with TFServing2.0"
### Description

The SLI_REC model is for realtime-inference, it would be better if we have the model serving part to be included in the repo.
### Expected behavior with the suggested feature
Adding Model serving part will help people understand more about industrial use case scenarios. FOr industry use case,  the model latency, scalability is also key metrics.

### Other Comments

[2020-03-17 11:10] eisber commented on #1055
Did you mount something on the ADB cluster like:

dbutils.fs.mount(
  source = "wasbs://sarpluscache@<accountname>.blob.core.windows.net",
  mount_point = "/mnt/sarpluscache",
  extra_configs = {"fs.azure.account.key.<accountname>.blob.core.windows.net":dbutils.secrets.get(scope = "all", key = "sarpluscache")})

[2020-03-17 18:28] gramhagen commented on #1066
could be the same issue here: https://github.com/conda/conda/issues/6986

I wonder if a different version of miniconda would help, you can try

[code]

[2020-03-18 04:23] gojuukaze commented on #1066
I changed the version, but it didn't work. After that, I tried to disable docker buildkit and the build was successful

[2020-03-18 10:42] gramhagen commented on #1066
Interesting. That's good to know. We'll add a comment in the readme. Thanks!

[2020-03-20 13:05] gramhagen commented on #1066
@gojuukaze #1070 adds a warning to address this, so I will close this issue. thanks for raising it.

[2020-03-20 13:05] #1066 closed

[2020-03-23 16:35] Sandy4321 opened #1072 "[ASK] stand alone use xDeepFM.py"
great code
https://github.com/microsoft/recommenders/blob/master/notebooks/00_quick_start/xdeepfm_criteo.ipynb
thanks

only several questions
1
how to download data manually ?
2
will work
\reco_utils\recommender\deeprec\models\xDeepFM.py
stand alone?

[2020-03-24 06:40] darshats opened #1073 "[BUG] The formula to generate decayed rating in data_transform module has a bug?"
### Description

The formula for decay of rating appears incorrect:
lambda x: x['Weight'] * math.exp(-math.log2((t_ref - pd.to_datetime(x['Timestamp'])).days / T))

It should be:
lambda x: x['Weight'] * math.exp(-((t_ref - pd.to_datetime(x['Timestamp'])).days / T)*math.log2)
### In which platform does it happen?

All platforms
### How do we replicate the issue?

### Expected behavior (i.e. solutio

[2020-03-26 09:29] yueguoguo commented on #1072
Hi @Sandy4321 regarding your question

The data is a processed version of the original criteo dataset, you can download it from our blob storage by using
[code]

Not sure if I understand correctly, you mean running the `py` script alone? Then it is not probably how it is supposed to be used. You can the modules in the script in your own codes.

[2020-03-26 09:30] yueguoguo commented on #1068
It is good feature to have. Really thanks @weiczhu for the feedback!

[2020-03-26 09:33] yueguoguo commented on #1067
Not sure if I understand the example correctly... The NCF is not modeling the user-item interactions by using similarities. It is leveraging a generalized matrix factorization method to find user/item latent factors, together with the multi-layer perceptron neural network to find high-level user/item features, for recommendation.

You can do pure item similarity recommendation by using SAR because

[2020-03-26 15:52] Sandy4321 commented on #1072
great thanks
1
Not sure if I understand correctly, you mean running the py script alone? Then it is not probably how it is supposed to be used. You can the modules in the script in your own codes
so how install your modules on winodws?
2
only I try to download manually by link you sent me
https://recodatasets.blob.core.windows.net/deeprec
but get error
<Error>
<script/>
<Code>ResourceNotFound</Cod

[2020-03-26 15:56] Sandy4321 commented on #1072
ok
I used this link
https://recodatasets.blob.core.windows.net/deeprec/http:/xdeepfmresources.zip/
I got data, thanks
but it looks very strange, what preprocessing you used?
0 16:372270:1 11:1561051:1 24:199173:1 3:1750186:1 26:2073461:1 12:1864800:1 17:150363:1 18:1283644:1 28:164307:1 27:1262273:1 19:1349205:1 7:1928194:1 39:795398:1 9:161196:1 32:1480661:1 30:180793:1 10:267940:1 1:1533602:1 21

[2020-03-26 15:57] Sandy4321 commented on #1072
https://recodatasets.blob.core.windows.net/deeprec/xdeepfmresources.zip
this link works

[2020-03-27 18:09] gramhagen commented on #1073
Closed by #1074 thanks for raising the issue @darshats

[2020-03-27 18:09] #1073 closed

[2020-04-02 09:38] yueguoguo commented on #1072
I will close the issue unless there is anything else.

[2020-04-02 09:38] #1072 closed

[2020-04-02 16:23] yjw1029 opened #1079 "Add news recommendation methods: NAML/NRMS/LSTUR/NPA"
### Description
Add some news recommendation methods such as NAML, NRMS, LSTUR, NPA

### Expected behavior with the suggested feature
* add notebooks in quick start
* add relative sythetic dataset
* add news rec module
* add unit test and smoke test

[2020-04-04 10:56] #1067 closed

[2020-04-04 10:56] #1061 closed

[2020-04-04 10:57] #1053 closed

[2020-04-04 10:57] #1054 closed

[2020-04-04 10:57] #1055 closed

[2020-04-07 16:48] gramhagen opened #1082 "Remote pip install of reco_utils fails"
When this repo is used as a dependency in a setup.py (as shown below)
[code]

The package pulls the $NAME environment flag which is the hostname in most linux environments, this will result in a mismatch between the expected name reco_utils and the installed package name causing pip to fail.

We should remove this line if possible
https://github.com/microsoft/recommenders/blob/75139859cf2aaf2c121c

[2020-04-07 17:53] miguelgfierro commented on #1082
aahhh good catch, I can change it

[2020-04-08 14:35] #1082 closed

[2020-04-10 04:10] zzh-ecnu opened #1084 "[BUG] dkn model in quick-start tutorial"
### Description
performing↓
model = DKN(hparams, input_creator)
print(model.run_eval(valid_file))

then bug happened：could not create a concat primitive descriptor, in file tensorflow/core/kernels/mkl_concat_op.cc:811

### Dependencies Info.
Platform：Ubuntu 18.04
Setting up：follow the reco_base.yaml

###
help! thanks very much!

[2020-04-12 03:42] zzh-ecnu commented on #1084
This bug has been solved.

Follow the reco_base.yaml, you will install tensorflow version==1.12.0, this version is too high for dkn model to run. So I try tensorflow which version==1.8.0, and that make sense!

So if you meet the problem about mkl lib, you can try to adjust the version of tensorflow.

[2020-04-13 13:40] gramhagen commented on #1084
Thanks @zzh-ecnu! I'm going to keep this open so we can adjust dkn or the version in the conda yaml generator.

[2020-04-15 11:22] miguelgfierro opened #1085 "[FEATURE] consider to reduce some of the unit tests"
### Description

Some unit tests take too long, see whether they can be speed up
[code]

### Expected behavior with the suggested feature

### Other Comments

[2020-04-18 02:53] niwilso opened #1087 "[FEATURE] Adding TF-IDF recommender using COVID-19 dataset"
### Description
I am planning on contributing a simple TF-IDF recommender using the [Azure Open Research dataset on COVID-19](https://azure.microsoft.com/en-us/services/open-datasets/catalog/covid-19-open-research/) in the form of a quick start notebook and a deep dive notebook (with the appropriate util scripts and unit tests).

### Expected behavior with the suggested feature
Content-based recom

[2020-04-20 13:38] yueguoguo commented on #1087
This is really awesome. Looking forward to the addition of the algorithm.

[2020-04-23 06:47] seanytak opened #1091 "[FEATURE] Add training with NNI for the NCF model"
### Description
Add a [notebook](https://github.com/seanytak/recommenders/blob/seanytak/ncf_test_tuning/notebooks/04_model_select_and_optimize/nni_ncf.ipynb) comparing NCF and SVD under the NNI framework.
Add a [training script for NCF](https://github.com/seanytak/recommenders/blob/seanytak/ncf_test_tuning/reco_utils/tuning/nni/ncf_training.py) to be used with the notebook

### Expected behavior w

[2020-04-23 14:56] niwilso commented on #1087
The PR (https://github.com/microsoft/recommenders/pull/1088) has been approved and merged into the staging branch.

Note that there is no deep dive notebook yet. I hope to contribute that in a future PR.

[2020-04-23 19:22] cheetm opened #1097 "[FEATURE] Adding LightFM based deep dive"
### Description

Hi all, I am looking to add a deep dive notebook on hybrid matrix factorisation using the LightFM package.

### Expected behavior with the suggested feature

Hybrid matrix factorisation based recommendation model would be useful for people with both implicit and explicit data, this notebook should hopefully be a good foundation for people looking to create recommendations with suc

[2020-04-24 06:50] miguelgfierro commented on #953
as of today, there are still some problems with TF2 https://github.com/tensorflow/tensorflow/issues/38839, I think we should pause the migration. Propose to upgrade TF to 1.15.2

[2020-04-24 12:10] #953 closed

[2020-05-13 10:50] #1091 closed

[2020-05-13 10:50] #1087 closed

[2020-05-13 10:50] #1079 closed

[2020-05-13 10:52] miguelgfierro commented on #525
MSRA added 4 methods

[2020-05-13 10:52] #525 closed

[2020-05-13 10:52] #472 closed

[2020-05-13 22:04] cheetm commented on #1097
PR [#1096](https://github.com/microsoft/recommenders/pull/1096) was approved.

[2020-05-13 22:04] #1097 closed

[2020-05-14 14:29] zerolxf opened #1103 "[BUG] Memory limit exceeded"
### Description
 the program memory is very large when I load data. The program needs to be optimized

dataset.py in [155 line](https://github.com/microsoft/recommenders/blob/master/reco_utils/recommender/ncf/dataset.py#L155)

### In which platform does it happen?
centos, docker.

### How do we replicate the issue?
When you load a large data set, the program memory will be very large, and it is ob

[2020-05-18 17:54] miguelgfierro commented on #1103
hi @zerolxf, thanks for your comment, we will add this to our TODO list. In the meantime, if you see a fix, feel free to send a PR with an optimization

[2020-05-18 17:56] miguelgfierro opened #1104 "[FEATURE] Refactor and generalize functions"
### Description

based on @loomlike comments, generalize common functions:

### Expected behavior with the suggested feature

### Other Comments

[2020-05-20 02:24] simonzhaoms opened #1106 "[ASK] Could it be possible to remove the upper limitation for pandas version"
### Description

In [scripts/generate_conda_file.py](https://github.com/microsoft/recommenders/blob/master/scripts/generate_conda_file.py#L48), the version of pandas is limited `"pandas": "pandas>=0.23.4,<1.0.0"`.  Could it be possible to remove this limitation?

https://github.com/microsoft/recommenders/blob/master/scripts/generate_conda_file.py#L48,

### Other Comments

BTW, any best practice fo

[2020-05-21 06:45] lhcalibur opened #1108 "[ASK] Mathematical equations used in _build_fast_CIN func in xDeepFM"
### Description
**_build_fast_CIN func in xDeepFM**
Can someone explain what the equation used in _build_fast_CIN? Thanks!
the doc says: "Parameters from the filters are reduced via a matrix decomposition method."
[code]

[2020-05-21 14:20] loomlike opened #1109 "[BUG] azure-storage package installation error"
### Description
[code]
### In which platform does it happen?
Linux (DSVM)

### How do we replicate the issue?
Remove conda env and reinstall

### Expected behavior (i.e. solution)
Let's pin azure* packages

### Other Comments

[2020-05-24 10:13] shainaraza opened #1110 "Dataset customized[ASK]"
### Description

### Other Comments
How can I put my own dataset , if I dont want to use the one provided by reco

thanks

[2020-05-27 01:59] lhcalibur opened #1111 "[FEATURE] The original criteo dataset prepare tutorial used in xDeepFM."
### Description
Can add a prepare tutorial  for criteo dataset used in xDeepFM model in notebooks "01_prepare_data" ? Thanks!

[2020-05-27 10:29] shainaraza commented on #1110
solved

[2020-05-27 10:29] #1110 closed

[2020-05-27 11:37] ucasiggcas opened #1112 "[BUG] AttributeError: module 'papermill' has no attribute 'record'"
### Description
when I run the [script](https://github.com/microsoft/recommenders/blob/master/notebooks/00_quick_start/xdeepfm_criteo.ipynb),
up the error,
[code]
could you help me ?
thx

### In which platform does it happen?
[code]
### How do we replicate the issue?
[code]
### Expected behavior (i.e. solution)
No error

[2020-05-27 16:32] shainaraza opened #1113 "[ASK] TypeError: '>=' not supported between instances of 'list' and 'float'"
### Description

regarding deeprec_utils.py, i have following error
[code]

### Other Comments

[2020-05-27 16:59] gramhagen commented on #1112
we're using an older version of [papermill 0.19.1](https://github.com/microsoft/recommenders/blob/558733f366983d576953a407ab7180b1642dbc5b/scripts/generate_conda_file.py#L60). at [1.0.0](https://papermill.readthedocs.io/en/latest/changelog.html?highlight=record#id7) they removed record(), you can reinstall an older version with something like
[code]
but if this is versioning is out of synch there

[2020-05-27 16:59] #1112 closed

[2020-06-01 09:44] ucasiggcas opened #1114 "[ASK] the encode of the feature in field"
hi,dear
### Description

I'm a little confused that the [Class](https://github.com/microsoft/recommenders/blob/290dd920d4a6a4d3bff71dd9ee7273be0c02dbbc/reco_utils/dataset/pandas_df_utils.py#L86) for encoding the feature in the field,
I see the [example](https://github.com/microsoft/recommenders/blob/master/notebooks/02_model/fm_deep_dive.ipynb),
![image](https://user-images.githubusercontent.com/3

[2020-06-01 21:29] gramhagen commented on #1113
the `pred = np.asarray(preds)` should handle conversion of the list to a numpy array.
are you sure you're using pred[pred >= 0.5] = 1 and not preds[preds >= 0.5] = 1 ?

if you have some small example code where this error can be reproduced that would be helpful.

[2020-06-01 21:43] gramhagen commented on #1114
@ucasiggcas, I believe there are two minor differences
1) we start encoded at 1 instead of 0
2) we increment the feature count by looping over all examples in each field before moving to the next field vs looping over all features in each example before moving to the next example.

while the encoded numbers may be different I would not expect them to have any bearing on training with the ffm algor

[2020-06-02 02:35] ucasiggcas commented on #1114
hi,dear
have you tried the movielens-1M data with the FFM method ?
if you could read Chinese,you can see my test [here](https://iggcas.blog.csdn.net/article/details/106422194)

thx

[2020-06-02 02:45] shainaraza commented on #1113
I solved it by filling the shapes (before that there were not equal)

[code]

[2020-06-02 03:10] gramhagen commented on #1113
ok, glad you were able to work around this. I like the np.where syntax too, I'm guessing it throws a runtime error if nans are in the list though.

i'm thinking it would be better if the utility package failed if NaNs were encountered in preds or labels, but offered an optional input to fill in NaNs with a specified value. would that satisfy your use case?

[2020-06-06 13:11] r-yanyo opened #1116 "[ASK] Docker build failed at "RUN python""
### Description
Docker build failed at

`RUN python recommenders/scripts/generate_conda_file.py --name base`

### In which platform does it happen?
macOS: 10.15.4
docker: 19.03.8

I also tried to build in two debian server, and failed with same error.

### Other Comments
[code]

[2020-06-06 20:03] geriskenderi opened #1117 "[ASK] Unusually low precision and recall for KNN Top-N Recommenders"
### Description

I'm trying to implement user and item based knn collaborative filtering using the combination of cornac and reco_utils. I managed to build the models just fine but when evaluating the rankings the precision score is extremely low. Here's a screenshot to help understand:

![image](https://user-images.githubusercontent.com/25037198/83953510-3db78780-a841-11ea-8226-c6aa492e73f3.png)

[2020-06-06 21:11] gallogiulia opened #1118 "[HELP] als_deep_dive problem with Spark"
### Description
I am using the als_deep_dive notebook and fiddling with the different size of the Spark instance, and the iterations of the ALS algorithm.
Everything works until I increase the iterations from 15 to 20, or I change the memory from 16 to 32, in this line `spark = start_or_get_spark("ALS Deep Dive", memory="32g")`
As an example, with max iterations = 20 and memory=32gb, I get the fol

[2020-06-09 13:23] gramhagen commented on #1118
This seems to be an issue with Spark running out of memory. There are some helpful resources on configuring Spark here:
https://blog.cloudera.com/how-to-tune-your-apache-spark-jobs-part-2/
http://site.clairvoyantsoft.com/understanding-resource-allocation-configurations-spark-application/

one particular configuration parameter that can be useful to adjust is: yarn_scheduler_maximum_allocation_mb

[2020-06-09 14:01] gramhagen commented on #1116
yes, looks like Anaconda removed the version of the miniconda we are using

you can either change the Dockerfile
[code]

or specify it as a build arg in docker build command
[code]

If you are able to test and issue a PR that would be great, otherwise I will work on it later this evening

[2020-06-09 22:44] gallogiulia commented on #1118
@gramhagen Thank you so much for your help with this. I will look at the links you provided

[2020-06-10 01:53] gramhagen commented on #1117
@tqtg any thoughts here?

[2020-06-10 04:01] tqtg commented on #1117
@geriskenderi did you manage to try with different settings of nearest neighbors?

[2020-06-10 07:56] geriskenderi commented on #1117
@tqtg yep I tried with 40, 60, 80 which should be pretty standard numbers for KNN algos with Movielens 100K

[2020-06-10 09:24] tqtg commented on #1117
The implementations of KNN methods in Cornac follow closely the ones described in [1]. The emphasis is on predicting rating, thus performance is measured using RMSE/MAE.

The main difference as compared to implementations in other libraries lies in the definition of nearest neighbors.
- Cornac follows the definition of `nearest neighbors who also rate the predicted item`, which is described in the

[2020-06-10 09:29] geriskenderi commented on #1117
Yes absolutely, User and Item based KNN focus on rating prediction. What I was trying to do was transform them into Top-K recommenders. As you said more experiments are needed to understand the difference. I will try different settings. Thanks for the help.

[2020-06-11 04:08] #1118 closed

[2020-06-11 06:36] r-yanyo opened #1121 "[BUG] Docker build failed at 'Failed to build xlearn'"
### Description
Docker build failed at 'Failed to build xlearn' in only GPU stage.

### In which platform does it happen?
macOS: 10.15.4
docker: 19.03.8

I also tried to build in two debian server, and failed with same error.

### How do we replicate the issue?
DOCKER_BUILDKIT=1 docker build -t recommenders:gpu --build-arg ENV="gpu" .
or
DOCKER_BUILDKIT=1 docker build -t recommenders:full --build-

[2020-06-11 06:38] r-yanyo commented on #1121
@gramhagen asked me to tag @yueguoguo.

[2020-06-14 07:48] MauritiusKlein commented on #1117
Thanks for the issue and the reply!
I was searching for an answer to this question too.
As I compared different algorithms I realized that Item/User KNN especially had  very bad precision and recall values. However as your precision recall metric returns reasonable values for other approaches like e.g. BPR, I was sure that it was some kind of issue related to the KNN implementation.
This are my Pr

[2020-06-16 09:05] Haoxuan-Wu opened #1122 "[FEATURE] Add NextItNet into sequential algorithms"
### Description
Add NextItNet sequential recommender algorithm into sequential algorithms.

NextItNet: Yuan, F., Karatzoglou, A., Arapakis, I., Jose, J. M., & He, X. (2019). A Simple Convolutional Generative Network for Next Item Recommendation. web search and data mining.

### Expected behavior with the suggested feature
A simple and effective algorithm

### Other Comments

[2020-06-18 13:09] pandeya opened #1124 "[BUG] Issue in running the movie recommendation example on Azure Databricks"
### Description
While running the notebook,

https://github.com/microsoft/recommenders/blob/master/notebooks/05_operationalize/als_movie_o16n.ipynb

at the line in cell 8,
ws = Workspace.create(
    name=workspace_name,
    subscription_id=subscription_id,
    resource_group=resource_group,
    location=location,
    exist_ok=True
)
I get the following error

WARNING - Warning: Falling back to use

[2020-06-19 10:39] miguelgfierro opened #1125 "[BUG] error in unit test nni"
### Description

[code]

hey @seanytak, I'm reviewing the unit test and there is an error with this one. Would you mind to take a look?

### In which platform does it happen?

### How do we replicate the issue?

### Expected behavior (i.e. solution)

### Other Comments

[2020-06-19 13:29] pandeya commented on #1124
I resolved the issue by creating a AzureML workspace from console and then using it in the code rather than creating it from the code.

However, the code and script needs to improves the steps and documentation for new learners.
Thanks.

[2020-06-19 13:29] #1124 closed

[2020-06-19 19:03] IrtazaHaider12145 commented on #500
Traceback (most recent call last):
  File "/databricks/python2/lib/python2.7/runpy.py", line 174, in _run_module_as_main
    "__main__", fname, loader, pkg_name)
  File "/databricks/python2/lib/python2.7/runpy.py", line 72, in _run_code
    exec code in run_globals
  File "/databricks/python2/lib/python2.7/site-packages/azure/cli/__main__.py", line 33, in <module>
    az_cli = get_default_cli()

[2020-06-29 06:49] Leavingseason commented on #1040
Hi there sorry that it seems I cannot receive notifications from github issues... in the future if you encounter something need my attention, welcome to send emails to me via jianxun.lian@outlook.com   @yueguoguo
To @ghost,
(1) for the predict function in SLi_Rec, yes there is a label placeholder, but it will not be used so you can make up any one for each line; the timestamp is suggested to be ti

[2020-06-29 12:08] miguelgfierro commented on #1122
https://github.com/microsoft/recommenders/pull/1126

[2020-06-29 12:08] #1122 closed

[2020-06-30 10:19] #1125 closed

[2020-06-30 10:34] miguelgfierro commented on #1106
pandas > 1 has a number of issues: https://github.com/microsoft/recommenders/pull/1052, maybe when the library is more mature we can remove the limitation

[2020-06-30 10:34] #1106 closed

[2020-07-01 09:06] danyang-liu commented on #484
We use impression id to compute group metrics like: NDCG, group-auc in DKN.

[2020-07-01 17:14] danyang-liu commented on #1084
we test tensorflow==1.15.2 on both GPU and CPU, it's ok.
https://github.com/microsoft/recommenders/pull/1129

[2020-07-02 07:59] #581 closed

[2020-07-02 07:59] #1084 closed

[2020-07-02 08:03] #484 closed

[2020-07-02 08:10] miguelgfierro opened #1132 "[BUG] Issue with DKN test"
### Description

when computing `pytest tests/smoke/test_notebooks_gpu.py::test_dkn_smoke`, I get
[code]

### In which platform does it happen?

### How do we replicate the issue?

### Expected behavior (i.e. solution)

### Other Comments
https://github.com/microsoft/recommenders/pull/1129
https://github.com/microsoft/recommenders/issues/528

@danyang-liu can you please check?

FYI @Leavingseason

[2020-07-02 08:40] danyang-liu commented on #1132
yes, I will check

[2020-07-02 09:59] danyang-liu commented on #1132
we updated data, I guess you need to clear the old data under test/resource/deeprec/dkn/ and test again. I found I missed some test case, e.g. in this test case, we don't use acc metric, I will change it to mean-mrr. I will check test case and send a new PR. @miguelgfierro

[2020-07-03 07:41] zzh-ecnu opened #1134 "[ASK] NPA word embedding mapping relation missing"
### Description

In NPA.zip, there is a file called embedding.npy. However, it doesn't record the mapping relation bewteen word and index of word vector. For example, when "hello" appeared in a sentence, how can I decide related index of word vector which is then used for searching in embedding.npy?
### Other Comments
Please, thanks very much!

[2020-07-03 17:17] #1132 closed

[2020-07-03 17:17] #528 closed

[2020-07-03 17:49] yjw1029 opened #1135 "[FEATURE] Add news scenario"
### Description
Add news scenario md

### Expected behavior with the suggested feature
add news scenario description in scenario/news/

[2020-07-03 18:32] yjw1029 opened #1136 "[BUG] LSTUR and NRMS in News Rec Module"
### Description
* Attention layer in LSTUR doesn't mask padding which will effect model performance
* Can't save NRMS model

### How do we replicate the issue?

* Create a conda environment for gpu
* run example/00_quick_start/nrms_synthetic.ipynb
* run cell "model.model.save_model(path)"
* run example/00_quick_start/lstur_synthetic.ipynb

### Expected behavior (i.e. solution)
* change get_config

[2020-07-06 16:16] miguelgfierro opened #1138 "[BUG] DRY in _data_generating_no_history_expanding"
### Description

https://github.com/microsoft/recommenders/pull/1130#discussion_r449731580

### In which platform does it happen?

### How do we replicate the issue?

### Expected behavior (i.e. solution)

### Other Comments

[2020-07-07 08:35] miguelgfierro opened #1139 "[FEATURE] Optimize Dataset class for NCF"
### Description

The class https://github.com/microsoft/recommenders/blob/master/reco_utils/recommender/ncf/dataset.py consumes a lot of memory. With movielens 20M, there is an OOM when computing `data = NCFDataset(train=train, test=test, seed=SEED)` on a Standard NC6 (6 vcpus, 56 GiB memory)

@loomlike not sure whether the changes you suggested would help on this

### Expected behavior with the s

[2020-07-07 12:01] miguelgfierro opened #1140 "[FEATURE] Optimize predict_ranking function in cornac BPR"
### Description

from https://github.com/microsoft/recommenders/blob/master/reco_utils/recommender/cornac/cornac_utils.py#L50

[code]

### Expected behavior with the suggested feature

### Other Comments

[2020-07-07 14:37] miguelgfierro commented on #1140
[code]

[2020-07-08 15:22] miguelgfierro opened #1141 "[FEATURE] review amazon_reviews.py"
### Description

- Docstrings
- remove globals
- optimize code

### Expected behavior with the suggested feature

### Other Comments

[2020-07-09 13:33] #1135 closed

[2020-07-09 13:33] #1136 closed

[2020-07-11 16:08] wutaomsft opened #1143 "[BUG] cmake needs to be installed"
### Description

If cmake is not installed, conda env create -f reco_base.yaml will fail.
### In which platform does it happen?

### How do we replicate the issue?

### Expected behavior (i.e. solution)

### Other Comments

[2020-07-13 14:46] gramhagen commented on #1134
@yjw1029 can you provide some information on the words that map to the embedding matrix in npa.zip?

[2020-07-13 15:04] gramhagen commented on #1121
might be related to #1143

[2020-07-14 09:02] zzh-ecnu commented on #1134
Sure~

This is an example before word embedding:
                             CandidateNews0:18707,23848,13490,10948,21385,11606,1251,16591,827,28081

However, this format has been transformed from word to index(say the first index 18707), the problem is i don't know the mapping relation which word is related to 18707.

[2020-07-14 09:41] yjw1029 commented on #1134
The dataset is a synthetic dataset, which may have some privacy issue if we public the word mapping.

[2020-07-14 10:40] gramhagen commented on #1134
I see. Ok. I will close this issue then.

[2020-07-14 10:40] #1134 closed

[2020-07-14 16:13] gramhagen commented on #1121
ok, dug in a bit further, since gpu is pulling from a separate image it isn't getting the cmake installation from the base section of the dockerfile. I'm pushing cmake installation down to the final stage and just installing from apt-get.

@yueguoguo is there any issue using the version in aptitude (3.10.2) versus what was previously here (3.15.2)?

[2020-07-14 16:23] gramhagen commented on #1143
CMake is required by XLearn as noted here: https://github.com/microsoft/recommenders/blob/master/SETUP.md#dependencies-setup
This will make it a bit more difficult for windows installation, but should still be possible.

While you can install cmake through conda it doesn't seem to include or always pick up the c / c++ compilers needed, so installing cmake at the os level is probably the simplest.

[2020-07-14 20:03] gramhagen commented on #1116
I think this specific issue is resolved by #1120

[2020-07-14 20:03] #1116 closed

[2020-07-15 09:50] danyang-liu opened #1145 "[FEATURE] DKN low efficiency"
### Description

Previous DKN using sparse operation and for loop to deal with the variable length of user click history. But sparse operation is low efficiency, it makes training on big dataset taking a lot time. I want to padding user click history to a fix length, so that we don't need sparse operation and can speed up dkn training process.

### Expected behavior with the suggested feature

Pad

[2020-07-15 14:03] yueguoguo commented on #1121
@gramhagen I have not tried aptitude (3.10.2) for building the image. Does it still break the building by using the old version?

[2020-07-15 14:13] gramhagen commented on #1121
it builds / installs fine and I was able to import xlearn afterwards, so I believe it is working fine

[2020-07-19 21:18] wutaomsft opened #1149 "[FEATURE] news scenario needs update"
### Description
News scenario needs a refresh to be more focused on MIND related content - ideally use MIND competition as a driving example of the scenario.
### Expected behavior with the suggested feature

### Other Comments

[2020-07-20 08:26] #1143 closed

[2020-07-20 08:26] #1121 closed

[2020-07-20 09:21] miguelgfierro opened #1150 "[BUG] missed content news reco tests"
### Description

Some files from the news reco are missing, so the tests are failing:

[code]

### In which platform does it happen?

### How do we replicate the issue?

### Expected behavior (i.e. solution)

### Other Comments

[2020-07-20 09:23] SuJiaKuan opened #1151 "[ASK] Can not download nrms.zip"
### Description

When I run the news recommendation by [nrms](https://github.com/microsoft/recommenders/blob/08e0b204265f9084baf000c816d377827b104dfe/examples/00_quick_start/nrms_synthetic.ipynb), the following error occurs:

[code]

It seems that https://recodatasets.blob.core.windows.net/newsrec/nrms.zip does not exist, so the process can not download the zip file and the error occurs.

![Screen

[2020-07-20 09:55] miguelgfierro commented on #1151
duplicate of https://github.com/microsoft/recommenders/issues/1150

[2020-07-20 09:55] #1151 closed

[2020-07-20 10:00] miguelgfierro commented on #1150
fixed

[2020-07-20 10:00] #1150 closed

[2020-07-20 13:30] yjw1029 opened #1152 "[FEATURE] Change newsrec dataset to MIND"
### Description
Change newsrec dataset to MIND

### Expected behavior with the suggested feature
Change the dataset used in NPA NAML NRMS LSTUR to MIND dataset

[2020-07-21 08:31] #1145 closed

[2020-07-22 15:07] danyang-liu opened #1155 "[BUG] fix bug in DKN smoke test"
### Description

It takes too much time running gpu smoke test for DKN since we running MINDsmall dataset in notebook, so we want to not running MINDsmall when testing.

### Expected behavior (i.e. solution)

add a parameter, when testing, do not run MINDsmall part.
### Other Comments

[2020-07-23 04:05] YashPandya2001 opened #1157 "GRU4Rec--Sequential-based algorithm ERROR"
### Description

FileNotFoundError: [Errno 2] No such file or directory: '../../tests/resources/deeprec/slirec/train_data'

Is there folder name resources in tests?
### Other Comments

---------------------------------------------------------------------------
FileNotFoundError                         Traceback (most recent call last)
<ipython-input-38-04cbe448e8bd> in <module>()
     22     downl

[2020-07-23 13:32] miguelgfierro opened #1158 "[BUG] review ALS o16n notebook"
### Description

https://github.com/microsoft/recommenders/blob/master/examples/05_operationalize/als_movie_o16n.ipynb there is no need to deploy de ALS model

### In which platform does it happen?

### How do we replicate the issue?

### Expected behavior (i.e. solution)

### Other Comments

[2020-07-23 14:53] #1157 closed

[2020-07-24 01:45] #1155 closed

[2020-07-24 08:57] miguelgfierro opened #1160 "[FEATURE] reduce smoke and integration test time for news reco algos"
### Description

[code]

### Expected behavior with the suggested feature

### Other Comments

[2020-07-28 10:45] #458 closed

[2020-07-28 10:46] #501 closed

[2020-07-30 13:46] #1016 closed